/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*[b-16kkdlfze3] {
    font-family: 'Poppins', sans-serif;
}

body[b-16kkdlfze3] {
    background-color: #850000;
}

.navbar-custom[b-16kkdlfze3] {
    background-color: #850000;
}

a.navbar-brand[b-16kkdlfze3] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-16kkdlfze3] {
    color: #0077cc;
}

.btn-primary[b-16kkdlfze3] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-16kkdlfze3], .nav-pills .show > .nav-link[b-16kkdlfze3] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-16kkdlfze3] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-16kkdlfze3] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-16kkdlfze3] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-16kkdlfze3] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-16kkdlfze3] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.research-management-office[b-16kkdlfze3] {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
}

.polytechnic-university[b-16kkdlfze3] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    margin-top: -7px;
}

.navbar-nav .nav-item[b-16kkdlfze3] {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
}

.hero-section[b-16kkdlfze3] {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -20px;
}

    .hero-section[b-16kkdlfze3]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
    }

    .hero-section h1[b-16kkdlfze3] {
        color: #FFDB89;
    }

.hero-content[b-16kkdlfze3] {
    position: relative;
    z-index: 1;
    width: 100%;
}

.btn.btn-apply[b-16kkdlfze3] {
    font-family: 'Poppins', sans-serif; /* Custom font */
    font-size: 18px; /* Custom font size */
    font-weight: 600; /* Make the text bold */
    background-color: #850000; /* Custom button background */
    color: #F0F0F0; /* Button text color */
    padding: 15px 40px; /* Custom padding */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid transparent; /* Remove the default border */
    transition: all 0.3s ease; /* Add smooth transitions */
}

.nav-link.active-link[b-16kkdlfze3] {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.custom-drop .btn-custom-d[b-16kkdlfze3] {
    width: 100%;
}

.custom-drop .btn-custom[b-16kkdlfze3] {
    width: 100%;
}

.custom-menu[b-16kkdlfze3] {
    width: 100%; /* Make the dropdown as wide as the container */
    max-width: none; /* Ensure no restriction on width */
    padding: 20px;
}

    .custom-menu .btn-custom-d[b-16kkdlfze3] {
        font-family: 'Poppins', sans-serif; /* Custom font */
        font-size: 18px; /* Custom font size */
        font-weight: bold; /* Make the text bold */
        background-color: #FFDB89; /* Custom button background */
        color: #850000; /* Button text color */
        padding: 10px 10px; /* Custom padding */
        border-radius: 43px; /* Rounded corners */
        border: 2px solid transparent; /* Remove the default border */
        transition: all 0.3s ease; /* Add smooth transitions */
        margin: 10px 0px;
    }

