@{
    ViewData["Title"] = "Notifications";
    Layout = "SuperAdmin_Layout";
}
<link href="~/css/ClusterCoordinator-Notifications.css" rel="stylesheet" />
<div>
    <div class="container  mt-4 p-0">
        <div class="d-flex justify-content-between align-items-end">
            <div class="display-6" id="task">Notifications</div>
            <div><button class="btn btn-danger">Mark all as read</button></div>
        </div>
        <hr id="notifhr">
    </div>

    <div class="container shadow-sm mt-3 bg-white p-3 rounded-4">
        <h3 id="notiftitle">Notification Title</h3>
        <p id="notifdate">January 1, 2024 6:08 PM</p>
        <p id="notifcontent">Notification Description</p>
    </div>

</div>