@{
    ViewData["Title"] = "Report";
    Layout = "Faculty_Layout";
}
<link href="~/css/ClusterCoordinator-Report-GenerateReport.css" rel="stylesheet" />
<div>
    <!--navbar-->
    <div class="nnvb container mt-3 mb-3">
        <div class="row">
            <div class="itm-active col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="Faculty" asp-action="FacultyReportGenerateReport" id="aactive">Generate Report</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="Faculty" asp-action="FacultyReportRecentReport" id="inaactive">Recent Report</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="Faculty" asp-action="FacultyReportArchivedReport" id="inaactive">Archived Report</a>
            </div>
        </div>
    </div>
    <!--input fields-->
    <form action="" class="container">
        <div class="container shadow h4 p-4 mb-3" id="title">
            Select Report Type
        </div>

        <label class="form-check-label p-3 mb-2" for="production" id="smaller-container">
            <div class="container d-flex justify-content-between">
                <div class="ppp">Production</div>
                <input class="form-check-input" type="radio" name="reports" id="production">
            </div>
        </label>
        <label class="form-check-label p-3 mb-2" for="presentation" id="smaller-container">
            <div class="container  d-flex justify-content-between">
                <div class="ppp">Presentation</div>
                <input class="form-check-input" type="radio" name="reports" id="presentation">
            </div>
        </label>
        <label class="form-check-label p-3 mb-2" for="publication" id="smaller-container">
            <div class="container  d-flex justify-content-between">
                <div class="ppp">Publication</div>
                <input class="form-check-input" type="radio" name="reports" id="publication">
            </div>
        </label>

        <label class="form-check-label p-3 mb-2" for="utilization" id="smaller-container">
            <div class="container  d-flex justify-content-between">
                <div class="ppp">Utilization</div>
                <input class="form-check-input" type="radio" name="reports" id="utilization">
            </div>
        </label>
        <label class="form-check-label p-3 mb-2" for="patent" id="smaller-container">
            <div class="container  d-flex justify-content-between">
                <div class="ppp">Patent</div>
                <input class="form-check-input" type="radio" name="reports" id="patent">
            </div>
        </label>
        <label class="form-check-label p-3 mb-2" for="citation" id="smaller-container">
            <div class="container  d-flex justify-content-between">
                <div class="ppp">Citation</div>
                <input class="form-check-input" type="radio" name="reports" id="citation">
            </div>
        </label>
        <label class="form-check-label p-3 mb-2" for="copyright" id="smaller-container">
            <div class="container  d-flex justify-content-between">
                <div class="ppp">Copyright</div>
                <input class="form-check-input" type="radio" name="reports" id="copyright">
            </div>
        </label>
        <label class="form-check-label p-3 mb-2" for="rift" id="smaller-container">
            <div class="container  d-flex justify-content-between">
                <div class="ppp">Candidate for Rift</div>
                <input class="form-check-input" type="radio" name="reports" id="rift">
            </div>
        </label>

        <div class="container mt-3">
            <div class="row d-flex justify-content-between align-items-end">
                <div class="col-lg-2 col-sm-12">
                    <label class="form-label" for="start_date">Start Date</label>
                    <input class="form-control mb-3" type="date" id="start_date" placeholder="Start Date">
                </div>
                <div class="col-lg-2 col-sm-12">
                    <label class="form-label" for="end_date">End Date</label>
                    <input class="form-control mb-3" type="date" id="end_date" placeholder="End Date">
                </div>

                <div class="col-lg-8 col-sm-12 d-flex justify-content-end align-items-end">
                    <div class="me-2">
                        <button asp-controller="Faculty" asp-action="FacultyReportGenerateReportPreview" class="report me-2 mb-3">Report Preview</button>
                    </div>
                    <div>
                        <button class="report mb-3">Generate Report</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/js/ClusterCoordinator-Report-GenerateReport.js"></script>

</div>