/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #850000;
}

.navbar-custom {
    background-color: #850000;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.research-management-office {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
}

.polytechnic-university {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    margin-top: -7px;
}

.navbar-nav .nav-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
}

.section {
    background-color: white;
    min-height: 100vh;
    margin: -24px 0px;
    padding: 20px;
}

.nav-link.active-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/* CHIEF HOME */

.memorandum-list {
    list-style-type: none;
    padding-left: 0;
}

    .memorandum-list li {
        margin-bottom: 10px;
        font-weight: 300;
        color: white;
    }

    .memorandum-list .memorandum-link {
        color: white;
        text-decoration: none;
    }

.memotitle {
    margin: 20px 0px;
}

.memorandums-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: relative;
    height: 40vh;
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.btn.btn-dl {
    font-family: 'Poppins', sans-serif; /* Custom font */
    font-size: 18px; /* Custom font size */
    font-weight: bold; /* Make the text bold */
    background-color: #FFDB89; /* Custom button background */
    color: #850000; /* Button text color */
    padding: 10px 30px; /* Custom padding */
    border-radius: 43px; /* Rounded corners */
    border: 2px solid transparent; /* Remove the default border */
    transition: all 0.3s ease; /* Add smooth transitions */
}

.memorandums-section h2, li {
    color: white;
}

.memo-file {
    color: white;
    text-decoration: none;
}

.modal-header, .modal-body {
    background-color: #850000;
}

.modal-title {
    color: white;
}