@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style>
    body {
        background: #E8E6E6;
    }

    .cat {
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
        color: #850000;
        font-weight: bolder;
        font-family: "Poppins";
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-control, .form-select {
        border: 1px solid #850000;
    }

    .title {
        background: #850000;
        color: white;
        font-family: "Poppins";
        border-radius: 20px;
    }
</style>

<div class="title container shadow h4 p-4 mb-3 text-white fw-bold ">Manage your account</div>

<div class="container rounded-4 bg-white shadow p-4">


    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

