@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<!-- Articles -->
<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>ARTICLES</b></h4>
    </div>
</div>

<div class="container-fluid py-4" style="background-color: #651424;">
    <div class="row">
        <div class="col-4 text-center">
            <div class="ratio ratio-16x9">
                <!-- Adjust ratio to your needs -->
                <img src="~/images/card4.jpg" alt="article1" class="img-fluid pb-2" style="object-fit: cover;"> <!-- Fill without distortion -->
            </div>
            <p class="mb-0 fs-6 pb-0" style="color: white">A LEADING COMPREHENSIVE POLYTECHNIC UNIVERSITY IN ASIA</p>
        </div>

        <div class="col-4 text-center">
            <div class="ratio ratio-16x9">
                <!-- Adjust ratio to your needs -->
                <img src="~/images/card3.jpg" alt="article2" class="img-fluid pb-2" style="object-fit: cover;"> <!-- Fill without distortion -->
            </div>
            <p class="mb-0 fs-6" style="color: white">A LEADING COMPREHENSIVE POLYTECHNIC UNIVERSITY IN ASIA</p>
        </div>

        <div class="col-4 text-center">
            <div class="ratio ratio-16x9">
                <!-- Adjust ratio to your needs -->
                <img src="~/images/card2.jpg" alt="article3" class="img-fluid pb-2" style="object-fit: cover;"> <!-- Fill without distortion -->
            </div>
            <p class="mb-0 fs-6" style="color: white">A LEADING COMPREHENSIVE POLYTECHNIC UNIVERSITY IN ASIA</p>
        </div>
    </div>
</div>

<!-- Events -->
<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>EVENTS</b></h4>
    </div>
</div>

<div class="container-fluid py-4" style="background-color: #651424;">
    <div class="row">
        <div class="col-4 text-center">
            <div class="ratio ratio-16x9">
                <!-- Adjust ratio to your needs -->
                <img src="~/images/card4.jpg" alt="event1" class="img-fluid pb-2" style="object-fit: cover;"> <!-- Fill without distortion -->
            </div>
            <p class="mb-0 fs-6 pb-0" style="color: white">A LEADING COMPREHENSIVE POLYTECHNIC UNIVERSITY IN ASIA</p>
        </div>

        <div class="col-4 text-center">
            <div class="ratio ratio-16x9">
                <!-- Adjust ratio to your needs -->
                <img src="~/images/card3.jpg" alt="event2" class="img-fluid pb-2" style="object-fit: cover;"> <!-- Fill without distortion -->
            </div>
            <p class="mb-0 fs-6" style="color: white">A LEADING COMPREHENSIVE POLYTECHNIC UNIVERSITY IN ASIA</p>
        </div>

        <div class="col-4 text-center">
            <div class="ratio ratio-16x9">
                <!-- Adjust ratio to your needs -->
                <img src="~/images/card2.jpg" alt="event3" class="img-fluid pb-2" style="object-fit: cover;"> <!-- Fill without distortion -->
            </div>
            <p class="mb-0 fs-6" style="color: white">A LEADING COMPREHENSIVE POLYTECHNIC UNIVERSITY IN ASIA</p>
        </div>
    </div>
</div>

<div class="py-4 text-center fw-bold" style="background-color: #651424; color: white;">
    <p class="my-0">© 2024 Research Management Office Articles and Events</p>
</div>
