@{
    ViewData["Title"] = "Academic Research Engagement";
    Layout = "_Layout";
}




<style>
    .are-body {
        background: #651424;
    }

    #are-ous-header {
        background: #FFDB89;
        color: #651424;
        font-weight: bold;
        font-family: "Poppins";
    }

    .are-ous-desc p {
        text-align: center;
        color: antiquewhite;
        font-size: 18px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .are-ous-name, .are-ous-desc {
        border-bottom: #FFDB89 solid 1px;
        font-family: 'Inter';
    }

        .are-ous-name h6 {
            font-weight: bold;
            color: #FFDB89;
            font-size: 20px;
        }

        .are-ous-name p {
            color: antiquewhite;
            font-size: 18px;
            text-align: justify;
        }

</style>


<body class="are-body">

    <div class="container-fluid shadow display-6 text-center p-2" id="are-ous-header">
        OPEN UNIVERSITY SYSTEM
    </div>

    <div class="are-ous-desc me-5 ms-5">
        <p>The <strong>PUP Open University System (PUP OUS)</strong>, also known as the "Pamantasang Bayan", is a fresh and innovative system of delivering higher educational services in a manner that differs from the formal, highly structured, and classroom-oriented traditional approach.</p>
    </div>

    <div class="are-ous-container ms-5 me-5 mt-5 mb-3">
        <div class="are-ous-name me-5 ms-5">
            <h6>Institute of Open and Distance Education / Transnational Education</h6>
            <p class="mb-5">Distance education provides option in terms of where and when you learn. You may study independently, with the guidance of a teacher or a tutor who grades and comments on your work or you may study online, communicating with your teacher and other students in your “online” classroom.</p>
        </div>

        <div class="are-ous-name mt-5 me-5 ms-5">
            <h6>Institute of Non-Traditional Study Program and ETEEAP</h6>
            <p class="mb-5">Offers practitioners or executives who have shown top-caliber abilities in their fields of specialization, an opportunity to complete their college degrees or graduate programs and earn their diplomas without having to take a leave from the jobs.</p>
        </div>

        <div class="are-ous-name mt-5 me-5 ms-5">
            <h6>Institute for Continuing and Professional Development</h6>
            <p class="mb-5">Committed on enhancing the individual professional's knowledge and skills through integrated industry-based professional development experiences in collaboration with the Professional Regulations Commission, the Commission on Higher Education, and other government agencies.</p>
        </div>
    </div>

</body>