@{
    ViewData["Title"] = "Academic Research Engagement";
    Layout = "_Layout";
}



<style>
    .are-body {
        background: #651424;
    }

    #are-campus-header {
        background: #FFDB89;
        color: #651424;
        font-weight: bold;
        font-family: "Poppins";
    }

    .are-campus-name {
        border-bottom: #FFDB89 solid 1px;
        font-family: 'Inter';
    }

        .are-campus-name:last-child {
            margin-bottom: 30px;
        }

        .are-campus-name h5 {
            color: #FFDB89;
            font-weight: bold;
            font-size: 20px;
        }

        .are-campus-name h6 {
            color: antiquewhite;
            font-weight: bold;
            font-size: 18px;
        }

        .are-campus-name p {
            color: antiquewhite;
            /* margin-bottom: 20px; */
            text-align: justify;
        }
</style>


<body class="are-body">
    <div class="container-fluid shadow display-6 text-center p-2" id="are-campus-header">
        CAMPUSES
    </div>

    <div class="are-campus-container ms-5 me-5 mt-5">
        <div class="are-campus-name ms-2 me-2">
            <h5 class="mb-3">Sta. Mesa, Manila</h5>
            <h6>A. Mabini</h6>
            <p class="mb-4">This is the main campus of the University located at Sta. Mesa, Manila. Here you can find the offices of the University Executive Officials, the Ninoy Aquino Library and Learning Resources Center, the PUP Pylon, PUP Gym and open courts, PUP Grandstand and Oval, the Obelisk, Nemesio E. Prudente Freedom Park, A. Mabini Shrine, Lagoon, Laboratory High School, Interfaith Chapel, Charlie del Rosario Student Development Center, the Amphitheater and various academic program offices.</p>
            <h6>NDC Compound</h6>
            <p class="mb-4">Also located in Sta. Mesa, Manila (near the Mabini Campus), it is the site of the College of Architecture and Fine Arts, College of Engineering, College of Communications, and the PUP MassCom Theater. The PUP Institute of Technology (formerly the College of Technology and Technopreneurial School) was transferred here from S.H. Loyola, Sta. Cruz, Manila.</p>
            <h6>M.H. Del Pilar</h6>
            <p class="mb-4">One of three campuses in Sta. Mesa, Manila, which houses the PUP Graduate School, Hasmin Hostel and the College of Tourism, Hospitality and Transportation Management.</p>
        </div>

        <div class="are-campus-name ms-2 me-2 mt-4">
            <h5 class="mb-3">Metro Manila</h5>
            <h6>Taguig City</h6>
            <p class="mb-4">This 10-hectare campus is located at Gen. Santos Ave., Lower Bicutan, Taguig City.  This site was reserved through a presidential declaration for the University's use in 1967.</p>
            <h6>Quezon City</h6>
            <p class="mb-4">This campus is located at Don Fabian St., Commonwealth, Quezon City.</p>
            <h6>San Juan City</h6>
            <p class="mb-4">Established in 2008, this campus is located in Addition Hills, San Juan City.</p>
            <h6 class="mb-4">Parañaque City</h6>
        </div>

        <div class="are-campus-name ms-2 me-2 mt-4">
            <h5 class="mb-3">Central Luzon</h5>
            <h6>Bataan</h6>
            <p class="mb-4">This campus is located within the Freeport Area in Mariveles, Bataan.</p>
            <h6>Sta. Maria, Bulacan</h6>
            <p class="mb-4">This campus, established in 2005, is located at Km. 38 located at Sitio Gulod, Brgy. Pulong-Buhangin, Municipality of Santa Maria, Bulacan.</p>
            <h6 class="mb-4">Pulilan, Bulacan</h6>
            <h6>Cabiao, Nueva Ecija</h6>
            <p class="mb-4">Established in 1996 as a Pamantasang Bayan of the PUP Open University. In 2009, it became a campus and is located at San Roque, Cabiao, Nueva Ecija.</p>
        </div>

        <div class="are-campus-name ms-2 me-2 mt-4">
            <h5 class="mb-3">South Luzon</h5>
            <h6>Lopez, Quezon</h6>
            <p class="mb-4">The first of three campuses located at Yumul St., Brgy. Burgos, Lopez, Quezon. Established in June 1979.</p>
            <h6>Mulanay, Quezon</h6>
            <p class="mb-4">The second campus located in the Quezon province.</p>
            <h6 class="mb-4">General Luna, Quezon</h6>
            <h6>Unisan, Quezon</h6>
            <p class="mb-4">Located in Kaliyaya Ibaba, Unisan, Quezon.</p>
            <h6>Ragay, Camarines Sur</h6>
            <p class="mb-4">This campus, located south of mainland Luzon (Bicol Region), is actually situated atop a hill overlooking the municipality of Ragay.</p>
            <h6>Sto. Tomas, Batangas</h6>
            <p class="mb-4">This campus is located at A. Bonifacio St. Poblacion II, Sto. Tomas, Batangas (south of Metro Manila).</p>
            <h6>Maragondon, Cavite</h6>
            <p class="mb-4">This campus is located at Maragondon, Cavite (south of Metro Manila).</p>
            <h6 class="mb-4">Alfonso, Cavite</h6>
            <h6>Bansud, Oriental Mindoro</h6>
            <p class="mb-4">The first of two campuses in the province of Mindoro located at Poblacion, Bansud.</p>
            <h6>Sablayan, Occidental Mindoro</h6>
            <p class="mb-4">The Sablayan Campus is the 21st campus of the University located at Sitio Macambang, Brgy. Buenavista, Municipality of Sablayan, Occidental Mindoro, Philippines. It is an LGU funded campus created through a Memorandum of Agreement (MOA) between the PUP and the Municipal Government of Sablayan on October 6, 2010. On August 9, 2018, President Duterte signed into law Republic Act 11056 or the "PUP Sablayan Campus Act" officially establishing the satellite campus.</p>
            <h6 class="mb-4">Biñan, Laguna</h6>
            <h6 class="mb-4">San Pedro, Laguna</h6>
            <h6 class="mb-4">Sta. Rosa, Laguna</h6>
            <h6 class="mb-4">Calauan, Laguna</h6>
        </div>

        <div class="are-campus-name ms-2 me-2 mt-4">
            <h5 class="mb-3">Former Campus</h5>
            <h6>S.H. Loyola</h6>
            <p class="mb-4">This campus, which formerly houses the PUP Technoentrepreneurial School, is located at S.H. Loyola (formerly Lepanto) Street, Sampaloc, Manila. In 1947, this building was offered for exclusive use of the Philippine School of Commerce (PSC). Before the building was occupied by PSC, it was the First House of the Philippine Congress. This served as the main campus from 1947 to 1968.</p>
        </div>
    </div>
</body>