@{
    ViewData["Title"] = "Academic Research Engagement";
    Layout = "_Layout";
}




<style>
    .are-body {
        background: #651424;
    }

    #are-itech-header {
        background: #FFDB89;
        color: #651424;
        font-weight: bold;
        font-family: "Poppins";
    }

    .are-itech-desc {
        border-bottom: #FFDB89 solid 1px;
    }

        .are-itech-desc p {
            text-align: center;
            color: antiquewhite;
            font-size: 18px;
            margin-top: 80px;
            margin-bottom: 80px;
            font-family: 'Inter';
        }

    .are-itech-name {
        font-family: 'Inter';
    }

        .are-itech-name h6 {
            font-weight: bold;
            color: #FFDB89;
            font-size: 18px;
        }

</style>

<body class="are-body">

    <div class="container-fluid shadow display-6 text-center p-2" id="are-itech-header">
        INSTITUTE OF TECHNOLOGY
    </div>

    <div class="are-itech-desc me-5 ms-5">
        <p>The Polytechnic University of the Philippines Institute of Technology (ITech) is focused on the actual training and "hands-on" approach to learning through its ladderized education programs which are designed to help learners to progress between Technical Vocational  Education and Training (TVET) and Baccalaureate degrees and vice-versa. This type of education opens career opportunities and educational advancement to students as they are directly linked to what the industry needs.</p>
    </div>

    <div class="are-itech-name me-5 ms-5 mt-5 mb-3">
        <h6>Diploma in Civil Engineering Technology (DCvET)</h6>
        <h6>Diploma in Computer Engineering Technology (DCET)</h6>
        <h6>Diploma in Electrical Engineering Technology (DEET)</h6>
        <h6>Diploma in Electronics Engineering Technology (DECET)</h6>
        <h6>Diploma in Information Communication Technology (DICT)</h6>
        <h6>Diploma in Mechanical Engineering Technology (DMET)</h6>
        <h6>Diploma in Office Management Technology (DOMT)</h6>
        <h6>Diploma in Railway Engineering Technology (DRET)</h6>
    </div>

</body>