@{
    ViewData["Title"] = "Academic Research Engagement";
    Layout = "_Layout";
}




<style>
    .are-body {
        background: #651424;
    }

    #are-overview-header {
        background: #FFDB89;
        color: #651424;
        font-weight: bold;
        font-family: "Poppins";
    }

    .are-overview-desc, .are-overview-container {
        border-bottom: #FFDB89 solid 1px;
    }

        .are-overview-desc p {
            text-align: center;
            color: antiquewhite;
            font-size: 18px;
            margin-top: 80px;
            margin-bottom: 80px;
            font-family: 'Inter';
        }

    .are-overview-name {
        border: #FFDB89 1px solid;
        padding: 20px;
        /* height: max-content; */
    }

        .are-overview-name h6 {
            font-weight: bold;
            color: #FFDB89;
            font-size: 20px;
            text-align: center;
        }

        .are-overview-name p {
            color: antiquewhite;
            font-size: 18px;
            text-align: justify;
            font-family: 'Inter';
        }

</style>


<body class="are-body">
    <div class="container-fluid shadow display-6 text-center p-2" id="are-overview-header">
        OVERVIEW
    </div>

    <div class="are-overview-desc me-5 ms-5">
        <p>
            Quality and relevant education that responds to the call of the present times in building the foundations of the future.
            <br>
            <br>
            Ranging from high school to doctoral courses, traditional to nontraditional education system, the University makes it possible that deserving individuals can have access to these academic resources.
            <br>
            <br>
            The University has always been making initiatives to enrich its academic programs in various fields of study and implement an educational strategy designed to provide our students with highly employable, managerial, and entrepreneurial skills in order to make them exceedingly creative, productive, competitive, and self-reliant.
        </p>
    </div>

    <div class="are-overview-container d-flex align-items-center justify-content-center ms-5 me-5 mt-5 mb-5">
        <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3 mb-5">
                <div class="are-overview-name me-5 ms-5 h-100 w-100">
                    <h6>QUALITY</h6>
                    <p>Being one of the reputable universities in the country, we always make it a point that the education given to our students meets the standards of quality and excellence.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3 mb-5">
                <div class="are-overview-name me-5 ms-5 h-100 w-100">
                    <h6>RELEVANT</h6>
                    <p>The University, through its various programs, equips its students with the learning and skills that are significant and responsive. This enables the student to be competitive and very resourceful.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3 mb-5">
                <div class="are-overview-name me-5 ms-5 h-100 w-100">
                    <h6>FLEXIBLE</h6>
                    <p>Be it learning in a classroom, at home, or through the Internet, the University offers programs that can adapt to a student's living condition -- especially the working class. Our Open University and distance learning method go beyond the physical restrictions of a campus.</p>
                </div>
            </div>
        </div>
    </div>

</body>
