@{
    ViewData["Title"] = "Academic Research Engagement";
    Layout = "_Layout";
}




<style>
    .are-body {
        background: #651424;
    }

    #are-college-header {
        background: #FFDB89;
        color: #651424;
        font-weight: bold;
        font-family: "Poppins";
    }

    .are-college-container {
        font-family: 'Inter';
        color: #FFDB89;
    }

    .are-college-name h6 {
        font-weight: bold;
        margin-left: 20px;
        font-size: 20px;
    }

    .are-college-name p, .are-college-name li {
        color: antiquewhite;
        font-size: 18px;
        margin-left: 20px;
    }

    .are-college-name li {
        font-size: 16px;
    }

    .are-college-name p:last-child {
        margin-bottom: 30px;
    }

    .are-college-name {
        border-bottom: #FFDB89 solid 1px;
    }
</style>


<body class="are-body">
    <div class="container-fluid shadow display-6 text-center p-2" id="are-college-header">
        COLLEGES
    </div>

    <div class="are-college-container ms-5 me-5 mt-5">

        <div class="caf-area are-college-name ms-2 me-2">
            <h6 class="mb-2">College of Accountancy and Finance (CAF)</h6>
            <p class="mb-0">Bachelor of Science in Accountancy (BSA)</p>
            <p class="mb-0">Bachelor of Science in Accountancy (BSA)</p>
            <p>Bachelor of Science in Business Administration Major in Financial Management (BSBAFM)</p>
        </div>

        <div class="cadbe-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Architecture, Design and the Built Environment (CADBE, formerly the College of Architecture and Fine Arts)</h6>
            <p class="mb-0">Bachelor of Science in Architecture (BS-ARCH)</p>
            <p class="mb-0">Bachelor of Science in Interior Design (BSID)</p>
            <p>Bachelor of Science in Environmental Planning (BSEP)</p>
        </div>

        <div class="cal-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Arts and Letters (CAL)</h6>
            <p class="mb-0">Bachelor of Arts in English Language Studies (formerly Bachelor of Arts in English) (ABELS)</p>
            <p class="mb-0">Bachelor of Arts in Filipinology (ABF)</p>
            <p class="mb-0">Bachelor of Arts in Literary and Cultural Studies (ABLCS)</p>
            <p class="mb-0">Bachelor of Arts in Literary and Cultural Studies (ABLCS)</p>
            <p class="mb-0">Bachelor of Arts in Philosophy (AB-PHILO)</p>
            <p>Bachelor of Performing Arts major in Theater Arts (formerly BA Theater Arts) (BPEA)</p>
        </div>

        <div class="cba-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Business Administration (CBA)</h6>
            <p class="mb-0">Doctor in Business Administration (DBA)</p>
            <p class="mb-0">Master in Business Administration (MBA)</p>
            <p class="mb-0">Bachelor of Science in Business Administration major in Human Resource Management (formerly Bachelor of Science in Human Resource Development Management) (BSBA-HRM)</p>
            <p class="mb-0">Bachelor of Science in Business Administration major in Marketing Management (BSBA-MM)</p>
            <p class="mb-0">Bachelor of Science in Entrepreneurship (BSENTREP)</p>
            <p>Bachelor of Science in Office Administration (BSOA)</p>
        </div>

        <div class="coc-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Communication (COC)</h6>
            <p class="mb-0">Bachelor in Advertising and Public Relations (BADPR)</p>
            <p class="mb-0">Bachelor of Arts in Broadcasting (BA Broadcasting)</p>
            <p class="mb-0">Bachelor of Arts in Communication Research (BACR)</p>
            <p>Bachelor of Arts in Journalism (BAJ)</p>
        </div>

        <div class="ccis-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Computer and Information Sciences (CCIS)</h6>
            <p class="mb-0">Bachelor of Science in Computer Science (BSCS)</p>
            <p>Bachelor of Science in Information Technology (BSIT)</p>
        </div>

        <div class="coed-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Education (COED)</h6>
            <p class="mb-0">Doctor of Philosophy in Education Management (PhDEM)</p>
            <p class="mb-0">Master of Arts in Education Management (MAEM) with Specialization in:</p>
            <li class="mb-0">Educational Leadership</li>
            <li class="mb-2">Instructional Leadership</li>

            <p class="mb-0">Master in Business Education (MBE)</p>
            <p class="mb-0">Master in Library and Information Science (MLIS)</p>
            <p class="mb-0">Master of Arts in English Language Teaching (MAELT)</p>
            <p class="mb-0">Master of Arts in Education major in Mathematics Education (MAEd-ME)</p>
            <p class="mb-0">Master of Arts in Physical Education and Sports (MAPES)</p>
            <p class="mb-0">Master of Arts in Education major in Teaching in the Challenged Areas (MAED-TCA)</p>
            <p class="mb-0">Post-Baccalaureate Diploma in Education (PBDE)</p>
            <p class="mb-0">Bachelor of Technology and Livelihood Education (BTLEd) major in:</p>
            <li class="mb-0">Home Economics</li>
            <li class="mb-0">Industrial Arts</li>
            <li class="mb-2">Information and Communication Technology</li>

            <p class="mb-0">Bachelor of Library and Information Science (BLIS)</p>
            <p class="mb-0">Bachelor of Secondary Education (BSEd) major in:</p>
            <li class="mb-0">English</li>
            <li class="mb-0">Mathematics</li>
            <li class="mb-0">Science</li>
            <li class="mb-0">Filipino</li>
            <li class="mb-2">Social Studies</li>

            <p class="mb-0">Bachelor of Elementary Education (BEEd)</p>
            <p>Bachelor of Early Childhood Education (BECEd)</p>
        </div>

        <div class="ce-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Engineering (CE)</h6>
            <p class="mb-0">Bachelor of Science in Civil Engineering (BSCE)</p>
            <p class="mb-0">Bachelor of Science in Computer Engineering (BSCpE)</p>
            <p class="mb-0">Bachelor of Science in Electrical Engineering (BSEE)</p>
            <p class="mb-0">Bachelor of Science in Electronics Engineering (BSECE)</p>
            <p class="mb-0">Bachelor of Science in Industrial Engineering (BSIE)</p>
            <p class="mb-0">Bachelor of Science in Mechanical Engineering (BSME)</p>
            <p>Bachelor of Science in Railway Engineering (formerly Bachelor of Science in Railway Engineering and Management) (BSRE)</p>
        </div>

        <div class="chk-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Human Kinetics (CHK)</h6>
            <p class="mb-0">Bachelor of Physical Education (BPE)</p>
            <p>Bachelor of Science in Exercises and Sports (BSESS)</p>
        </div>

        <div class="cl-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Law (CL)</h6>
            <p>Juris Doctor (JD)</p>
        </div>

        <div class="cpspa-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Political Science and Public Administration (CPSPA)</h6>
            <p class="mb-0">Doctor in Public Administration (DPA)</p>
            <p class="mb-0">Master in Public Administration (MPA)</p>
            <p class="mb-0">Bachelor of Public Administration (BPA)</p>
            <p class="mb-0">Bachelor of Arts in International Studies (BAIS)</p>
            <p class="mb-0">Bachelor of Arts in Political Economy (BAPE)</p>
            <p>Bachelor of Arts in Political Science (formerly Bachelor in Political Science) (BAPS)</p>
        </div>

        <div class="cssd-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Social Sciences and Development (CSSD)</h6>
            <p class="mb-0">Bachelor of Arts in History (BAH)</p>
            <p class="mb-0">Bachelor of Arts in Sociology (formerly Bachelor of Science in Sociology) (BAS)</p>
            <p class="mb-0">Bachelor of Science in Cooperatives (formerly Bachelor in Cooperatives) (BSC)</p>
            <p class="mb-0">Bachelor of Science in Economics (BSE)</p>
            <p>Bachelor of Science in Psychology (BSPSY)</p>
        </div>

        <div class="cs-area are-college-name ms-2 me-2 mt-4">
            <h6 class="mb-2">College of Science (CS)</h6>
            <p class="mb-0">Bachelor of Science in Food Technology (BSFT)</p>
            <p class="mb-0">Bachelor of Science in Applied Mathematics (BSAPMATH)</p>
            <p class="mb-0">Bachelor of Science in Biology (BSBIO)</p>
            <p class="mb-0">Bachelor of Science in Chemistry (BSCHEM)</p>
            <p class="mb-0">Bachelor of Science in Mathematics (BSMATH)</p>
            <p class="mb-0">Bachelor of Science in Nutrition and Dietetics (BSND)</p>
            <p class="mb-0">Bachelor of Science in Physics (BSPHY)</p>
            <p>Bachelor of Science in Statistics (formerly Bachelor in Applied Statistics) (BSSTAT)</p>
        </div>

        <div class="cthtm-area are-college-name ms-2 me-2 mt-4 mb-3">
            <h6 class="mb-2">College of Tourism, Hospitality and Transportation Management (CTHTM)</h6>
            <p class="mb-0">Bachelor of Science in Hospitality Management (BSHM)</p>
            <p class="mb-0">Bachelor of Science in Tourism Management (BSTM)</p>
            <p>Bachelor of Science in Transportation Management (formerly Bachelor in Transportation Management) (BSTRM)</p>
        </div>
    </div>
</body>