@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}


<!-- Vision -->
<div class="vm container-fluid py-3" style="background-color: #FFDB89;">
    <div class="vision-container text-center fs-3">
        <h4 class="vm-title fw-bolder fs-1 mb-0" style="color: #651424"><b>VISION</b></h4>
    </div>
</div>

<div class="vm container-fluid py-4" style="background-color: #651424;">
    <div class="vision-container text-center fs-3">
        <p class="mb-0 fs-4" style="color: white">A LEADING COMPREHENSIVE POLYTECHNIC UNIVERSITY IN ASIA</p>
    </div>
</div>

<!-- Mission -->
<div class="vm container-fluid py-3" style="background-color: #FFDB89;">
    <div class="vision-container text-center fs-3">
        <h4 class="vm-title fw-bolder fs-1 mb-0" style="color: #651424"><b>MISSION</b></h4>
    </div>
</div>

<div class="vm container-fluid py-4" style="background-color: #651424;">
    <div class="vision-container text-center fs-3">
        <p class="mb-0 fs-4" style="color: white">ADVANCE AN INCLUSIVE, EQUITABLE AND GLOBALLY RELEVANT POLYTECHNIC EDUCATION TOWARDS NATIONAL DEVELOPMENT</p>
    </div>
</div>

<!-- Strat Goals -->

<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>STRATEGIC GOALS</b></h4>
    </div>
</div>

<div class="container-fluid py-4" style="background-color: #651424; color: white;">
    <!-- <div class="container fs-5"> -->
    <div class="row fs-5 mx-2">
        <!-- Pillar 1 -->
        <div class="pillar col-md-4">
            <div class="pillar-box p-3 h-100">
                <h3 class="fw-bold text-center">Pillar 1:<br>Teaching and Learning</h3>
                <div style="text-align: justify;">
                    <p><strong>SG 1:</strong> Innovative Curricula and Instruction</p>
                    <p><strong>SG 2:</strong> Empowered, Expert, and Productive Faculty Members</p>
                    <p><strong>SG 3:</strong> Holistic Student Development</p>
                </div>
            </div>
        </div>

        <!-- Pillar 2 -->
        <div class="pillar col-md-4">
            <div class="pillar-box p-3 h-100">
                <h3 class="fw-bold text-center">Pillar 2:<br>Research and Extension</h3>
                <div style="text-align: justify;">
                    <p><strong>SG 4:</strong> Intensified Research Innovation and Dissemination</p>
                    <p><strong>SG 5:</strong> Strengthened Sustainable and Impactful Extension Program</p>
                    <p><strong>SG 6:</strong> Expanded Research and Extension Networks with Local, National, and International Partners</p>
                </div>
            </div>
        </div>

        <!-- Pillar 3 -->
        <div class="pillar col-md-4">
            <div class="pillar-box p-3 h-100">
                <h3 class="fw-bold text-center">Pillar 3:<br>Internal Governance</h3>
                <div style="text-align: justify;">
                    <p><strong>SG 7:</strong> Transformational University Leadership</p>
                    <p><strong>SG 8:</strong> Judicious and Ethical Stewardship of Resources</p>
                    <p><strong>SG 9:</strong> Effective and Efficient Human Resource Management</p>
                    <p><strong>SG 10:</strong> Excellent Citizen/Client Satisfaction</p>
                    <p><strong>SG 11:</strong> Smart Campuses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>

<!-- Core Values -->

<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>CORE VALUES</b></h4>
    </div>
</div>

<div class="core-values container-fluid py-3 border border-white" style="background-color: #651424; color: #fff;">
    <div class="text-center">
        <div class="row m-2">
            <div class="col-md"><strong class="fs-1 px-4 fw-bolder" style="background-color: white; color:#651424; width: 5px;">I</strong><br>INTEGRITY AND<br>ACCOUNTABILITY</div>
            <div class="col-md"><strong class="fs-1 px-3 fw-bolder" style="background-color: white; color:#651424; width: 5px;">N</strong><br>NATIONALISM</div>
            <div class="col-md"><strong class="fs-1 px-3 fw-bolder" style="background-color: white; color:#651424; width: 5px;">S</strong><br>SENSE OF SERVICE</div>
            <div class="col-md"><strong class="fs-1 px-3 fw-bolder" style="background-color: white; color:#651424; width: 5px;">P</strong><br>PASSION FOR<br>LEARNING<br>AND INNOVATION</div>
            <div class="col-md"><strong class="fs-1 px-4 fw-bolder" style="background-color: white; color:#651424; width: 5px;">I</strong><br>INCLUSIVITY</div>
            <div class="col-md"><strong class="fs-1 px-3 fw-bolder" style="background-color: white; color:#651424; width: 5px;">R</strong><br>RESPECT FOR HUMAN<br>RIGHTS AND<br>THE ENVIRONMENT</div>
            <div class="col-md"><strong class="fs-1 px-3 fw-bolder" style="background-color: white; color:#651424; width: 5px;">E</strong><br>EXCELLENCE</div>
            <div class="col-md"><strong class="fs-1 px-3 fw-bolder" style="background-color: white; color:#651424; width: 5px;">D</strong><br>DEMOCRACY</div>
        </div>
    </div>
</div>

<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>LOGO</b></h4>
    </div>
</div>

<div class="core-values container-fluid py-4" style="background-color: #651424; color: #fff;">
    <div>
        <!-- Row for Logo and Description -->
        <div class="row m-0 px-5 mt-3 py-0">
            <div class="row mx-3 align-items-center">
                <!-- Logo Image -->
                <div class="col-3 text-center p-0">
                    <img src="~/images/RMOlogo.png" alt="Logo" style="max-width: 100%; height: auto; width: 500px;"> <!-- Adjust the size of the logo -->
                </div>

                <!-- Description Section -->
                <div class="col-9 my-0 py-0">
                    <div class="container">
                        <h3 class="fw-bold">DESCRIPTION</h3>
                        <p class="fs-5 pb-3 border-bottom border-3" style="text-align: justify;">The Research Management Office (RMO), a leading arm for research production, administration, dissemination, publication, and utilization under the Office of the Vice President for Research, Extension, and Development (OVPRED), adopts this official logo to represent its core functions in accordance to the University's vision, mission, and objectives.</p>

                        <h3 class="fw-bold">SYMBOLISM AND MEANING</h3>
                        <div class="fs-5">
                            <p>To symbolize the vision, mission, and core functions of the Research Management Office (RMO), the logo contains the following elements and their corresponding meaning:</p>
                            <ul>
                                <li>Book: Scientific knowledge generation and education;</li>
                                <li>Tree: University research culture enhancement;</li>
                                <li>Lightbulb: Creative thinking and innovation;</li>
                                <li>Gear: Engine for research progress and internationalization;</li>
                                <li>Golden Leaves: Research rewards and awards;</li>
                                <li>People: Internal and external linkages with stakeholders.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Objectives -->
<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>OBJECTIVES</b></h4>
    </div>
</div>

<div class="vm container-fluid py-4 fs-5" style="background-color: #651424; color: #fff;">
    <div class="container pb-0 pt-3">
        <ol>
            <li>To properly implement the University Research Agenda;</li>
            <li>To dramatically improve the research capabilities and skills of the University's faculty and employees;</li>
            <li>To exponentially increase the CHED-recognized / ISI / Scopus-indexed research presentation and publications of all faculty and employees in all campuses and branches of the University;</li>
            <li>To incrementally increase the research incentives, privileges, and awards for all faculty and employees who do quality scientific research internally and externally; and</li>
            <li>To remarkably widen the University's networks and linkages for internationalization.</li>
        </ol>
    </div>
</div>

<!-- Services -->
<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>SERVICES</b></h4>
    </div>
</div>

<div class="vm container-fluid d-flex justify-content-center py-4 px-2 fs-5" style="background-color: #651424; color: #fff;">
    <div class="row container pb-0 pt-3">
        <div class="col-6">
            <ul style="list-style-type: none;">
                <li>1. Externally Funded Research Monitoring</li>
                <li>2. Internally Funded Research Monitoring</li>
                <li>3. International Paper Presentation Financial Assistance</li>
                <li>4. National Paper Presentation Financial Assistance</li>
                <li>5. University Publication Assistance</li>
                <li>6. Publication Incentive</li>
            </ul>
        </div>

        <div class="col-6">
            <ul style="list-style-type: none;">
                <li>7. Citation Incentive</li>
                <li>8. Dissertation Financial Assistance</li>
                <li>9. Thesis and Dissertation Financial Grant</li>
                <li>10. Merit Promotion based on Publication and Citation</li>
                <li>11. Ethics Clearance Certification</li>
                <li>12. Research Linkages</li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="fw-bolder fs-1 mb-0" style="color: #651424"><b>DIRECTOR</b></h4>
    </div>
</div>

<div class="container-fluid py-4" style="background-color: #651424; color: #fff;">
    <div>
        <!-- Row for Logo and Director Title -->
        <div class="row m-0 px-5 mt-3 py-0 mb-3">
            <div class="row align-items-center">
                <!-- Director Image -->
                <div class="col-3 text-center p-0 mr-5">
                    <img src="~/images/director.jpg" alt="Director" style="max-width: 100%; height: auto; width: 300px;"> <!-- Adjust the size of the logo -->
                </div>

                <!-- Director Section -->
                <div class="col-9 my-0 py-0 border-bottom border-top border-3" style="height: 400px; display: flex; align-items: center;">
                    <div class="">
                        <h1 class="fw-bold" style="color: #FFDB89; font-size: 70px;">Jackie D. Urrutia, PhD</h1>
                        <p class="fs-5 pb-3" style="color: #FFDB89;">Director, Research Management Office</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-5 fs-5 pt-3" style="text-align: justify;">
            <p>The RMO Director has the following key task responsibilities: 1) assists in the implementation of policies in research, and development programs of the university; 2) prioritizes research programs that have significant impact and contribution to the University's attainment of globally competitive education, improvement of the quality of life an social development; 3) conducts institutional researches that would address efficiency and effectiveness of the services offered by the university to its stakeholders and the larger community; 4) provides administrative and technical support to university researchers and faculty members to harness their research capability  and skills; 5) supervises the operation of the Research Support Center; Research Monitoring and Evaluation Center, Center for Research Dissemination and Linkages, and Center for Research Ethics; 6) undertakes evaluative studies covering students and faculty sectors; 7) provides technical assistance in the preparation of research designs and in the collection, processing, analyzing, and interpreting of research data to faculty students; 8) implements policies of the University relative to planned institutional research alignment; 9) undertakes institutional researches and evaluative studies covering various sectors in the university; 10) undertakes preparation of feasibility and other studies of the university; 11) collates, evaluates, and interprets institutional statistical information to the university, domestic and international use; 12) prepares programs designed towards the development of true international relations and understanding; 13) establishes and maintains linkages with international organizations of similar education goals to facilitate research and student-faculty exchange programs; 14) establishes and maintains linkages with national institutions with similar educational goals to facilitate the conduct of various researches contributing to national understanding; and 15) submits reports to the management.</p>
        </div>
    </div>
</div>
