@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<!-- Organizational Chart -->
<div class="container-fluid py-3" style="background-color: #FFDB89;">
    <div class="text-center fs-3">
        <h4 class="vm-title fw-bolder fs-1 mb-0" style="color: #651424"><b>ORGANIZATIONAL CHART</b></h4>
    </div>
</div>

<div class="vm container-fluid py-4 d-flex align-items-center justify-content-center" style="background-color: #651424;">
    <div class="container fs-3 text-center">
        <img src="~/images/OrgStruct.png" class="m-3 pb-5 w-75" alt="Organizational Structure">
        <p class="mb-0 fs-6 pb-0 pt-5 border-top" style="color: white; text-align: justify;">
            The Research Management Office (RMO) is the research arm of the OVPRED and hence, oversees providing support services to the VPRED on both administrative and technical matters. RMO recommends plans, programs, projects, and policies relative to research planning and programs/project development to the Research, Extension, and Development.
            <br><br>The RMO is headed by a Director in charge of the overall supervision of the four sections namely, (1) Research Support Center; (2) Research Monitoring and Evaluation Center, (3) Center for Research Dissemination and Linkages, and (4) Center for Research Ethics. Each section is managed by a section chief.
            <br><br>RMO has the following duties and responsibilities: a) recommends plans, programs, projects, and policies relative to research planning and program/project development to the Vice President for Research, Extension, Planning and Development; b) implements policies on research and development programs of the University; c) provides administrative and technical support to University researchers and faculty members to harness their research capability and skills; d) establishes and maintains linkages with national institutions with similar educational goals to facilitate the conduct of various researches; e) monitors the implementation of the approved internal and external research projects; f) conducts fund-sourcing for research projects; and, g) conducts research dissemination through national and international conferences.
        </p>
    </div>
</div>



