@{
    ViewData["Title"] = "RMO Sections";
    Layout = "_Layout";
}
<link href="~/css/RMOSections.css" rel="stylesheet" />

<body id="body">
    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        RESEARCH EVALUATION AND MONITORING SECTION
    </div>

    <div class="container text-white mt-4 mb-4 fs-5 text-center" id="p-content">
        Monitors the implementation of the approved internally and externally funded research projects. It also assists in the preparation of program designed towards the development of national and international relations.
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        CHIEF
    </div>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-center">
                <img class="img-fluid" src="~/images/default-profile.png" alt="" id="chief-img" style="width: 150px; border: 2px solid white;">
            </div>
            <div class="col-lg-9 col-sm-12 p-5" id="chief-name">
                <div class="fs-1 fw-bold">Paul Ryan A. Longhas, MS Math</div>
                <div class="fs-5">Chief, Research Evaluation and Monitoring Center</div>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4 text-white pt-3 p-0" id="chief-descrip">
        The Chief for Research Evaluation and Monitoring Center (REMC) has the following duties and responsibilities: a) facilitates the evaluation of internally and externally-funded research projects based on the approved guidelines; b) monitors the implementation of the approved internally and externally-funded research projects based on the approved guidelines; c)provides assistance to the Director in the implementation of policies on research and development programs of the university; d)provides administrative and technical support to the University researchers and faculty members with the Director to harness their research capability and skills; e) manages the operation of the Research Evaluation and Monitoring Center;f) prepares a periodic report for the management; g) assist in the implementation of policies of the university relative to planned institutional research alignment; h) assists in the preparation of program designed towards the development of national and international relations and understanding; i) assists the establishment and maintenance of linkages with national and international organizations of similar educational goals to facilitate research and student-faculty exchange programs; j) coordinates with other government organizations, non-government organizations and international agencies on offered research dissemination opportunities; k) disseminates information on local, national, and international conferences, seminars, fora, job-related trainings, to the academic sector of the university; l) coordinates with the different offices of the university; and performs other functions as directed by the RMO Director and VPREPD.
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        SERVICES
    </div>

    <div class="container mt-4">
        <div class="row text-center justify-content-evenly">
            <div class="col-lg-5 col-sm-12 p-4 mb-4" id="sservices">
                Externally Funded Research Monitoring
            </div>
            <div class="col-lg-5 col-sm-12 p-4 mb-4" id="sservices">
                Internally Funded Research Monitoring
            </div>
        </div>
    </div>

</body>