@{
    ViewData["Title"] = "RMO Sections";
    Layout = "_Layout";
}
<link href="~/css/RMOSections.css" rel="stylesheet" />

<body id="body">
    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        RESEARCH ETHICS SECTION
    </div>

    <div class="container text-white mt-4 mb-4 fs-5 text-center" id="p-content">
        Facilitates the requests for ethics clearance. The centers ensure to protect potential participants in the research, but it must also consider potential risks and benefits for the community in which the research will be carried out. Its goal is to promote high ethical standards in research.
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        CHIEF
    </div>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-center">
                <img class="img-fluid" src="~/images/RMOSection-res.jpg" alt="" id="chief-img" style="width: 150px; border: 2px solid white;">
            </div>
            <div class="col-lg-9 col-sm-12 align-self-center p-5" id="chief-name">
                <div class="fs-1 fw-bold">Jackson Jake U. Llames, MAF</div>
                <div class="fs-5">Chief, Center for Research Ethics</div>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4 text-white pt-3 p-0" id="chief-descrip">
        The Chief for Center for Research Ethics has the following duties and responsibilities: a. safeguard the rights, safety, dignity, and well-being of everyone who participates in research work/s; b. define and determine the protocol in the conduct of research work/s involving human subjects (i.e. cultural communities and environment) as well as the risk involved, whether they are acceptable or in violation of certain ethical procedures, not to mention existing laws and regulations regarding malpractices; c. review, evaluate, and resolve whether or not research work/s that is/are potentially hazardous to humans and animals adhere to internationally accepted research ethical standards; d. Provide guidance on practices to minimize health and environmental hazards related to activities used in research and instructions within the University; e. conduct periodic review and recommend improvement in the provisions of this policy; f. delegate the college deans and branch/campus directors to constitute a C/BREB to serve as the governing body that provides adjudication towards concerns, issues, grievances, and possible violations pertaining to the Research Code of Ethics at the college/branch level; and g. serve as the highest governing body that provides adjudication towards concerns, issues, grievances, and possible violations pertaining to the Research Code of Ethics as endorsed by C/BREB; h. coordinates with the different offices of the university; and i. performs other functions as directed by the RMO Director and VPREPD.
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        SERVICES
    </div>

    <div class="container mt-4">
        <div class="row text-center justify-content-evenly">
            <div class="col-lg-12 col-sm-12 p-4 mb-4" id="sservices">
                Ethics Clearance Certification
            </div>
        </div>
    </div>

</body>
