@{
    ViewData["Title"] = "RMO Sections";
    Layout = "_Layout";
}
<link href="~/css/RMOSections.css" rel="stylesheet" />


<body id="body">
    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        RESEARCH LINKAGES AND DISSEMINATION SECTION
    </div>

    <div class="container text-white mt-4 mb-4 fs-5 text-center" id="p-content">
        Facilitates the forging of linkages to various institutions that will result in external funding of research projects and programs and organize/co-organize research-related conferences, seminars, trainings, fora, etc. as a research dissemination platform.
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        CHIEF
    </div>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-center">
                <img class="img-fluid" src="~/images/RMOSection-rlds.jpg" alt="" id="chief-img" style="width: 130px; border: 2px solid white;">
            </div>
            <div class="col-lg-9 col-sm-12 align-self-center p-5" id="chief-name">
                <div class="fs-1 fw-bold">Hazel D.R. Samala, MASED</div>
                <div class="fs-5">Chief, Center for Research Dissemination and Linkages</div>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4 text-white pt-3 p-0" id="chief-descrip">
        The Chief for Center for Dissemination and Linkages has the following duties and responsibilities: a.	Forge linkages to various institutions that will result in external funding of research projects and programs; b.	Organize/co-organize research-related conferences, seminars, trainings, fora, etc. as a research dissemination platform. The function of the RDLC does not duplicate the functions of the International Affairs Office (IAO) and Special Programs and Projects Office (SPPO).
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        SERVICES
    </div>

    <div class="container mt-4">
        <div class="row text-center justify-content-evenly">
            <div class="col-lg-12 col-sm-12 p-4 mb-4" id="sservices">
                Research Linkages
            </div>
        </div>
    </div>

</body>