@{
    ViewData["Title"] = "Research Guidelines";
    Layout = "_Layout";
}

<style>
    #rg-body {
        background: #651424;
    }

    .rg-header {
        background: #FFDB89;
        color: #651424;
        font-weight: bold;
        font-family: "Poppins";
    }

    .rg-name {
        border: #FFDB89 1px solid;
        padding: 20px;
        height: auto;
    }

    .rg-name p {
        color: antiquewhite;
        font-size: 18px;
        text-align: justify;
        font-family: 'Inter';
        margin-bottom: 0;
    }
</style>

<body id="rg-body">
    <div class="rg-header container-fluid shadow display-6 text-center p-2">
        PRODUCTION GUIDELINES
    </div>

    <div class="rg-container d-flex align-items-center justify-content-center ms-5 me-5 mt-4 mb-4">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name me-5 ms-5">
                    <p>Memorandum Order No. 10, Series of 2020 - Revised Implementing Guidelines for Internally Funded Researches</p>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name me-5 ms-5">
                    <p>Memorandum Order No. 11, Series of 2020 - Revised Implementing Guidelines for Externally Funded Research</p>
                </div>
            </div>
        </div>
    </div>

    <div class="rg-header container-fluid shadow display-6 text-center p-2">
        PUBLICATION AND CITATION GUIDELINES
    </div>

    <div class="rg-container d-flex align-items-center justify-content-center ms-5 me-5 mt-4 mb-4">
        <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name ms-5 me-5">
                    <p>Memorandum Order No. 17, Series of 2020 - Revised Implementing Guidelines on Merit Promotion on the Basis of Publication and Citation</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name ms-5 me-5 h-100 align-items-center">
                    <p>Memorandum Order No. 15 Series of 2020 - Revised Implementing Guidelines on Incentives for Publication and Citation</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name ms-5 me-5">
                    <p>Memorandum Order No. 30 Series of 2020 - Implementing Guidelines for GAWAD LATHALA: International Publication Excellence Award</p>
                </div>
            </div>
        </div>
    </div>

    <div class="rg-header container-fluid shadow display-6 text-center p-2">
        PRESENTATION GUIDELINES
    </div>

    <div class="rg-container d-flex align-items-center justify-content-center ms-5 me-5 mt-5 mb-5">
        <div class="rg-name ms-5 me-5">
            <p>Memorandum Order No. 16, Series of 2020 - Revised Implementing Guidelines on International and National Paper Presentation Financial Assistance</p>
        </div>
    </div>

    <div class="rg-header container-fluid shadow display-6 text-center p-2">
        RESEARCH ETHICS GUIDELINES
    </div>

    <div class="rg-container d-flex align-items-center justify-content-center ms-5 me-5 mt-5 mb-5">
        <div class="rg-name ms-5 me-5">
            <p>Memorandum Order No. 14 Series of 2020 - Revised Implementing Guidelines of University Ethics Board Structure and Functions</p>
        </div>
    </div>

    <div class="rg-header container-fluid shadow display-6 text-center p-2">
        OTHER RESEARCH GUIDELINES
    </div>

    <div class="rg-container d-flex align-items-center justify-content-center ms-5 me-5 mt-4 mb-4">
        <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name ms-5 me-5">
                    <p>Memorandum Order No. 13, Series of 2020 - Revised Implementing Guidelines for Thesis and Dissertation Grant</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name ms-5 me-5">
                    <p>Memorandum Order No. 12, Series of 2020 - Revised Implementing Guidelines for GAWAD TUKLAS: Outstanding Researcher Award</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center p-3">
                <div class="rg-name ms-5 me-5">
                    <p>Memorandum Order No. 18, Series of 2020 - Revised Implementing Guidelines on the Utilization of College/Branch Research Fund</p>
                </div>
            </div>
        </div>
    </div>


</body>