@{
    ViewData["Title"] = "RMO Sections";
    Layout = "_Layout";
}
<link href="~/css/RMOSections.css" rel="stylesheet" />


<body id="body">
    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        RESEARCH SUPPORT SECTION
    </div>

    <div class="container text-white mt-4 mb-4 fs-5 text-center" id="p-content">
        Facilitates the requests for research assistance, grants and/or incentives.
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        CHIEF
    </div>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-center">
                <img class="img-fluid" src="~/images/RMOSection-rss.jpg" alt="" id="chief-img" style="width: 130px; border: 2px solid white;">
            </div>
            <div class="col-lg-9 col-sm-12 align-self-center p-5" id="chief-name">
                <div class="fs-1 fw-bold">Randy D. Sagun, MAF</div>
                <div class="fs-5">Chief, Research Support Center</div>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4 text-white pt-3 p-0" id="chief-descrip">
        The Chief for Research Support Center (RSC) has the following duties and responsibilities: a. facilitates the requests of paper presentation financial assistance, university publication assistance (UPA), publication and citation incentive, and thesis and dissertation grant; b. monitors the technical and content evaluation of paper presentation financial assistance, university publication assistance (UPA), publication and citation incentive, and thesis and dissertation grant; c. provides assistance to the Director in the implementation of policies on research and development programs of the university; d. provides administrative and technical support to the University researchers and faculty members with the Director to harness their research capability and skills; e. manages the operation of the Research Support Center; f. prepares a periodic report for the management; g. assist in the implementation of policies of the university relative to planned institutional research alignment; h. assists in the preparation of program designed towards th edevelopment of national and international relations and understanding; i. assists the establishment and maintenance of linkages with national and international organizations of similar educational goals to facilitate research and student-faculty exchange programs; j. coordinates with other government organizations, non-government organizations and international agencies on offered research dissemination opportunities; k. disseminates information on local, national, and international conferences, seminars, fora, job-related trainings, to the academic sector of the university; l. coordinates with the different offices of the university; and m. performs other functions as directed by the RMO Director and VPREPD.
    </div>

    <div class="container-fluid shadow display-6 text-center p-2" id="section-title">
        SERVICES
    </div>

    <div class="container mt-4">
        <div class="row text-center justify-content-evenly">
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                International Paper Presentation Financial Assistance
            </div>
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                National Paper Presentation Financial Assistance
            </div>
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                University Publication Assistance
            </div>
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                Publication Incentive
            </div>
        </div>
        <div class="row text-center justify-content-evenly">
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                Citation Incentive
            </div>
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                Dissertation Financial Assistance
            </div>
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                Thesis and Dissertation Financial Grant
            </div>
            <div class="col-lg-2 col-sm-12 p-4 mb-4" id="sservices">
                Merit Promotion based on Publication and Citation
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>