/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#navbarDropdown:hover {
    color: black !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/* Sidebar styles */
.sidebar {
    background-color: #7c0e00;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    color: #fff;
    bottom: 0;
}

    .sidebar .profile-section {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding: 20px;
    }

        .sidebar .profile-section:hover {
            background: rgb(255, 246, 195, 0.2);
        }

    .sidebar .profile-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .sidebar .profile-info h3 {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .sidebar .profile-info .user-email, .sidebar .profile-info .user-id {
        font-size: 12px;
        color: #ccc;
    }

    .sidebar .menu-section ul {
        list-style: none;
        padding: 0;
    }

        .sidebar .menu-section ul li {
            margin: 15px 0;
        }

            .sidebar .menu-section ul li a {
                color: #fff;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 16px;
            }

                .sidebar .menu-section ul li a img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

    .sidebar .logout-section {
        margin-top: auto; /* Ensure the logout section stays at the bottom */
        border-top: 1px solid #ccc;
        padding-top: 15px;
        padding-bottom: 20px; /* Add padding for better visibility */
    }

    .sidebar .logout-button {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
