.navbar[b-xw2p7czgt8] {
    background: #850000;
    position: fixed;
    width: 100%;
    top: 0;
}

body[b-xw2p7czgt8] {
    background: #E8E6E6;
}
/* Sidebar styles */
.sidebar[b-xw2p7czgt8] {
    background-color: #7c0e00;
    width: 250px;
    height: calc(100vh - 75px);
    position: absolute;
    left: -250px; /* Hide sidebar off-screen initially */
    transition: left 0.3s ease; /* Smooth transition for sliding */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    color: #fff;
    z-index: 1000; /* Ensure sidebar is above other content */
    bottom: 0;
}

    .sidebar.open[b-xw2p7czgt8] {
        left: 0; /* Show sidebar when 'open' class is added */
        position: fixed;
        bottom: 0;
    }

    .sidebar .profile-section[b-xw2p7czgt8] {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding: 20px;
    }

        .sidebar .profile-section:hover[b-xw2p7czgt8] {
            background: rgb(255, 246, 195, 0.2);
        }

    .sidebar .profile-image[b-xw2p7czgt8] {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .sidebar .profile-info h3[b-xw2p7czgt8] {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .sidebar .profile-info .user-email[b-xw2p7czgt8], .sidebar .profile-info .user-id[b-xw2p7czgt8] {
        font-size: 12px;
        color: #ccc;
    }

    .sidebar .menu-section ul[b-xw2p7czgt8] {
        list-style: none;
        padding: 0;
    }

        .sidebar .menu-section ul li[b-xw2p7czgt8] {
            margin: 15px 0;
        }

            .sidebar .menu-section ul li a[b-xw2p7czgt8] {
                color: #fff;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 16px;
            }

                .sidebar .menu-section ul li a img[b-xw2p7czgt8] {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

    .sidebar .logout-section[b-xw2p7czgt8] {
        margin-top: auto; /* Ensure the logout section stays at the bottom */
        border-top: 1px solid #ccc;
        padding-top: 15px;
        padding-bottom: 20px; /* Add padding for better visibility */
    }

    .sidebar .logout-button[b-xw2p7czgt8] {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
    }


.bbb[b-xw2p7czgt8] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item[b-xw2p7czgt8] {
    font-family: "Poppins";
    font-weight: bold;
}

    .nav-item:hover[b-xw2p7czgt8] {
        background: rgb(255, 246, 195, 0.2);
        border-radius: 10px;
    }

.hoverfxright:hover[b-xw2p7czgt8] {
    background: rgb(255, 246, 195, 0.2);
}

.sideitemz:hover[b-xw2p7czgt8] {
    background: rgb(255, 246, 195, 0.2);
}

.pup[b-xw2p7czgt8] {
    font-family: "Montserrat";
    font-size: 14px;
}

.rmo[b-xw2p7czgt8] {
    font-family: "Poppins";
    font-weight: bold;
}

a[b-xw2p7czgt8] {
    text-decoration: none;
}
