@{
    ViewData["Title"] = "Accomplishments";
    Layout = "RMCC_Layout";
}
<link href="~/css/ClusterCoordinator-Accomplishmentadd.css" rel="stylesheet" />

<div>
    <!--navbar-->
    <div class="nnvb container mt-3 mb-3">
        <div class="row">
            <div class="itm-active col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorAccomplishments" id="aactive">Accomplishment List</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorProduction" id="inaactive">Add Accomplishment</a>
            </div>
        </div>
    </div>
    <!--year-->
    <form action="">
        <div class="container shadow mb-3" id="content">
            <div class="row shadow-sm h3 p-4 mb-1" id="title">
                Year
            </div>
            <div class="row shadow p-4" id="formcont">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="fname">Year</label>
                        <select class="form-select mb-3" name="year" id="year">
                            <script src="~/js/ClusterCoordinator-acc-AddResearch-year.js"></script>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!--Colleges/Campuses/Branches/Department-->
        <div class="container shadow mb-3" id="content">
            <div class="row shadow-sm h3 p-4 mb-1" id="title">
                Colleges / Campuses / Branches / Department
            </div>
            <div class="row shadow p-4" id="formcont">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="college">College</label>
                        <select class="form-select mb-3" aria-label="College" name="college" id="college" required>
                            <option value="CAF">College of Accountancy and Finance (CAF)</option>
                            <option value="CADBE">College of Architecture, Design and the Built Environment (CADBE)</option>
                            <option value="CAL">College of Arts and Letters (CAL)</option>
                            <option value="CBA">College of Business Administration (CBA)</option>
                            <option value="COC">College of Communication (COC)</option>
                            <option value="CCIS">College of Computer and Information Sciences (CCIS)</option>
                            <option value="COED">College of Education (COED)</option>
                            <option value="CE">College of Engineering (CE)</option>
                            <option value="CHK">College of Human Kinetics (CHK)</option>
                            <option value="CL">College of Law (CL)</option>
                            <option value="CPSPA">College of Political Science and Public Administration (CPSPA)</option>
                            <option value="CSSD">College of Social Sciences and Development (CSSD)</option>
                            <option value="CS">College of Science (CS)</option>
                            <option value="CTHTM">College of Tourism, Hospitality and Transportation Management (CTHTM)</option>
                            <option value="ITECH"> Institute of Technology (ITECH)</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="department">Department</label>
                        <select id="department" class="form-select mb-3">
                            <option value="">Department</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="branches-and-campuses">Branch/Campus</label>
                        <select class="form-select mb-3" name="branches-and-campuses" id="branches-and-campuses">
                            <option value="a-mabini">A. Mabini (Campus)</option>
                            <option value="NDC-Compound">NDC Compound (Campus)</option>
                            <option value="mh-del-pilar">M.H. Del Pilar (Campus)</option>
                            <option value="Taguig-City">Taguig City (Branch)</option>
                            <option value="Quezon-City">Quezon City (Branch)</option>
                            <option value="San-Juan-City">San Juan City (Branch)</option>
                            <option value="Parañaque-City">Parañaque City (Campus)</option>\
                            <option value="Bataan">Bataan (Branch)</option>
                            <option value="Sta-Maria-Bulacan">Sta. Maria, Bulacan (Campus)</option>
                            <option value="Pulilan-Bulacan">Pulilan, Bulacan (Campus)</option>
                            <option value="Cabiao-Nueva-Ecija">Cabiao, Nueva Ecija (Campus)</option>
                            <option value="Lopez-Quezon">Lopez, Quezon (Branch)</option>
                            <option value="Mulanay-Quezon">Mulanay, Quezon (Branch)</option>
                            <option value="General-Luna-Quezon">General Luna, Quezon (Mulanay Annex)</option>
                            <option value="Unisan-Quezon">Unisan, Quezon (Branch)</option>
                            <option value="Ragay-Camarines-Sur">Ragay, Camarines Sur (Branch)</option>
                            <option value="Sto-Tomas-Batangas">Sto. Tomas, Batangas (Branch)</option>
                            <option value="Maragondon-Cavite">Maragondon, Cavite (Branch)</option>
                            <option value="Alfonso-Cavite">Alfonso, Cavite (Maragondon Annex)</option>
                            <option value="Bansud-Oriental-Mindoro">Bansud, Oriental Mindoro (Branch)</option>
                            <option value="Sablayan-Occidental-Mindoro">Sablayan, Occidental Mindoro (Branch)</option>
                            <option value="Biñan-Laguna">Biñan, Laguna (Campus)</option>
                            <option value="San-Pedro-Laguna">San Pedro, Laguna (Campus)</option>
                            <option value="Sta-Rosa-Laguna">Sta. Rosa, Laguna (Campus)</option>
                            <option value="Calauan-Laguna">Calauan, Laguna (Campus)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!--research production-->
        <div class="container shadow mb-3" id="content">
            <div class="row shadow-sm h3 p-4 mb-1" id="title">
                Research Production
            </div>
            <div class="row shadow p-4" id="formcont">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="research_title">Research Title</label>
                        <input class="form-control mb-3" type="text" id="research_title" placeholder="Research Title">
                    </div>
                </div>
                <!---->
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                        <hr>
                    </div>
                    <div class="col-lg-4 col-sm-2 text-center">
                        <h4>Authors</h4>
                    </div>
                    <div class="col-lg-4 col-sm-5">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="lead_researcher">Lead Researcher</label>
                        <input class="form-control mb-3" type="text" id="lead_researcher" placeholder="Lead Researcher">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="co_lead">Co-Lead</label>
                        <input class="form-control mb-3" type="text" id="co_lead" placeholder="Co-Lead">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="member_1">Member 1</label>
                        <input class="form-control mb-3" type="text" id="member_1" placeholder="Member 1">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="member_2">Member 2</label>
                        <input class="form-control mb-3" type="text" id="member_2" placeholder="Member 2">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="member_3">Member 3</label>
                        <input class="form-control mb-3" type="text" id="member_3" placeholder="Member 3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="type_of_research">Type of Research</label>
                        <select name="type_of_research" id="type_of_research" class="form-select mb-3">
                            <option value="">Basic</option>
                            <option value="">Applied</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                        <hr>
                    </div>
                    <div class="col-lg-4 col-sm-2 text-center">
                        <h4>Keywords</h4>
                    </div>
                    <div class="col-lg-4 col-sm-5">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="keyword_1">Keyword 1</label>
                        <input class="form-control mb-3" type="text" id="keyword_1" placeholder="Keyword 1">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="keyword_2">Keyword 2</label>
                        <input class="form-control mb-3" type="text" id="keyword_2" placeholder="Keyword 2">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="keyword_3">Keyword 3</label>
                        <input class="form-control mb-3" type="text" id="keyword_3" placeholder="Keyword 3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <label class="form-label" for="keyword_1">Keyword 4</label>
                        <input class="form-control mb-3" type="text" id="keyword_4" placeholder="Keyword 4">
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <label class="form-label" for="keyword_5">Keyword 5</label>
                        <input class="form-control mb-3" type="text" id="keyword_5" placeholder="Keyword 5">
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <label class="form-label" for="keyword_6">Keyword 6</label>
                        <input class="form-control mb-3" type="text" id="keyword_6" placeholder="Keyword 6">
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <label class="form-label" for="keyword_7">Keyword 7</label>
                        <input class="form-control mb-3" type="text" id="keyword_7" placeholder="Keyword 7">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <hr>
                    </div>
                </div>
                <!---->
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="type_of_funding">Type of Funding</label>
                        <select name="type_of_funding" id="type_of_funding" class="form-select mb-3" onchange="toggleFields()">
                            <option value="na">N/A</option>
                            <option value="self-funded">Self-Funded</option>
                            <option value="internal">Internal</option>
                            <option value="external">External</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-12" id="funding_agency_field" style="display: none;">
                        <label class="form-label" for="funding_agency">Funding Agency</label>
                        <input class="form-control mb-3" type="text" id="funding_agency" placeholder="Funding Agency">
                    </div>
                    <div class="col-lg-4 col-sm-12" id="amount_of_funding_field" style="display: none;">
                        <label class="form-label" for="amount_of_funding">Amount of Funding</label>
                        <input class="form-control mb-3" type="text" id="amount_of_funding" placeholder="Amount of Funding">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-sm-5">
                        <hr>
                    </div>
                    <div class="col-lg-2 col-sm-2 text-center">
                        <h4>Duration</h4>
                    </div>
                    <div class="col-lg-5 col-sm-5">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="started">Started</label>
                        <input class="form-control mb-3" type="date" id="started" placeholder="Started">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="completed">Completed</label>
                        <input class="form-control mb-3" type="date" id="completed" placeholder="Completed">
                    </div>
                </div>
            </div>
        </div>

        <!--required files-->
        <div class="container shadow mb-3" id="content">
            <div class="row shadow-sm h3 p-4 mb-1" id="title">
                Required Files
            </div>
            <div class="row shadow p-4" id="formcont">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="so_abstract">SO/Abstract</label>
                        <input class="form-control mb-3" type="file" id="so_abstract" placeholder="SO/Abstract" accept=".pdf" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="Manuscript">Manuscript</label>
                        <input class="form-control mb-3" type="file" id="Manuscript" placeholder="Manuscript" accept=".pdf" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="Ethics_Clearance">Ethics Clearance</label>
                        <input class="form-control mb-3" type="file" id="Ethics_Clearance" placeholder="Ethics Clearance" accept=".pdf" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label mb-0" for="Certificate_of_Agreement">Certificate of Agreement<span class="form-text"> (Proof of co-authorship agreement)</span></label>
                        <div class="form-text">If students/Part timers are involved.</div>
                        <input class="form-control mb-3" type="file" id="Certificate_of_Agreement" placeholder="Certificate of Agreement" accept=".pdf">
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3 mb-3">
            <div class="d-flex justify-content-end">
                <button class="new"><a class="text-decoration-none text-white" asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorAccomplishments">Cancel</a></button>
                <input type="button" value="Save Changes" class="ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            </div>
        </div>
    </form>


    <!--save changes modal-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4" id="bgmodal">
                <div class="modal-body rounded-4 p-4">
                    <h2 class="text-center mb-4" id="modaltitle">Save Changes</h2>
                    <p id="content">Do you want to save the changes you made to "[Research Title]"?</p>
                    <div class="mt-4 d-flex justify-content-center align-items-center">
                        <button type="button" class="me-2" data-bs-dismiss="modal" id="modalbtn">Close</button>
                        <a asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorAccomplishments"><button type="button" class="me-2" data-bs-dismiss="modal" id="modalbtn">Save Changes</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        //dept and college select
        $(document).ready(function () {
            var departments = {
                CAF: [
                    { value: 'BSA', text: 'Bachelor of Science in Accountancy' },
                    { value: 'BSMA', text: 'Bachelor of Science in Management Accounting' },
                    { value: 'BSBAFM', text: 'Bachelor of Science in Business Administration Major in Financial Management' }
                ],
                CADBE: [
                    { value: 'BS-ARCH', text: 'Bachelor of Science in Architecture' },
                    { value: 'BSID', text: 'Bachelor of Science in Interior Design' },
                    { value: 'BSEP', text: 'Bachelor of Science in Environmental Planning' }
                ],
                CAL: [
                    { value: 'ABELS', text: 'Bachelor of Arts in English Language Studies' },
                    { value: 'ABF', text: 'Bachelor of Arts in Filipinology' },
                    { value: 'ABLCS', text: 'Bachelor of Arts in Literary and Cultural Studies' },
                    { value: 'AB-PHILO', text: 'Bachelor of Arts in Philosophy' },
                    { value: 'BPEA', text: 'Bachelor of Performing Arts major in Theater Arts' }
                ],
                CBA: [
                    { value: 'DBA', text: 'Doctor in Business Administration' },
                    { value: 'MBA', text: 'Master in Business Administration' },
                    { value: 'BSBAHRM', text: 'Bachelor of Science in Business Administration major in Human Resource Management' },
                    { value: 'BSBA-MM', text: 'Bachelor of Science in Business Administration major in Marketing Management' },
                    { value: 'BSENTREP', text: 'Bachelor of Science in Entrepreneurship' },
                    { value: 'BSOA', text: 'Bachelor of Science in Office Administration' },

                ],
                COC: [
                    { value: 'BADPR', text: 'Bachelor in Advertising and Public Relations' },
                    { value: 'BA_Broadcasting', text: 'Bachelor of Arts in Broadcasting' },
                    { value: 'BAJ', text: 'Bachelor of Arts in Journalism' }
                ],
                CCIS: [
                    { value: 'BSCS', text: 'Bachelor of Science in Computer Science' },
                    { value: 'BSIT', text: 'Bachelor of Science in Information Technology' }
                ],
                COED: [
                    { value: 'PhDEM', text: 'Doctor of Philsophy in Education Management' },
                    { value: 'MAEM', text: 'Master of Arts in Education Management' },
                    { value: 'MBE', text: 'Master in Business Education' },
                    { value: 'MLIS', text: 'Master in Library and Information Science' },
                    { value: 'MAELT', text: 'Master of Arts in English Language Teaching' },
                    { value: 'MAEd-ME', text: 'Master of Arts in Education major in Mathematics Education' },
                    { value: 'MAPES', text: 'Master of Arts in Physical Education and Sports' },
                    { value: 'MAED-TCA', text: 'Master of Arts in Education major in Teaching in the Challenged Areas' },
                    { value: 'PBDE', text: 'Post-Baccalaureate Diploma in Education' },
                    { value: 'BTLEd', text: 'Bachelor of Technology and Livelihood Education' },
                    { value: 'BLIS', text: 'Bachelor of Library and Information Science' },
                    { value: 'BSEd', text: 'Bachelor of Secondary Education' },
                    { value: 'BEEd', text: 'Bachelor of Elementary Education' },
                    { value: 'BECEd', text: 'Bachelor of Early Childhood Education' },
                ],
                CE: [
                    { value: 'BSCE', text: 'Bachelor of Science in Civil Engineering' },
                    { value: 'BSCpE', text: 'Bachelor of Science in Computer Engineering' },
                    { value: 'BSEE', text: 'Bachelor of Science in Electrical Engineering' },
                    { value: 'BSECE', text: 'Bachelor of Science in Electronics Engineering' },
                    { value: 'BSIE', text: 'Bachelor of Science in Industrial Engineering' },
                    { value: 'BSME', text: 'Bachelor of Science in Mechanical Engineering' },
                    { value: 'BSRE', text: 'Bachelor of Science in Railway Engineering' },

                ],
                CHK: [
                    { value: 'BPE', text: 'Bachelor of Physical Education' },
                    { value: 'BSESS', text: 'Bachelor of Science in Exercises and Sports' }
                ],
                CL: [
                    { value: 'JD', text: 'Juris Doctor' }
                ],
                CPSPA: [
                    { value: 'DPA', text: 'Doctor in Public Administration' },
                    { value: 'MPA', text: 'Master in Public Administration' },
                    { value: 'BPA', text: 'Bachelor of Public Administration' },
                    { value: 'BAIS', text: 'Bachelor of Arts in International Studies' },
                    { value: 'BAPE', text: 'Bachelor of Arts in Political Economy' },
                    { value: 'BAPS', text: 'Bachelor of Arts in Political Science' },
                ],
                CSSD: [
                    { value: 'BAH', text: 'Bachelor of Arts in History' },
                    { value: 'BAS', text: 'Bachelor of Arts in Sociology' },
                    { value: 'BSC', text: 'Bachelor of Science in Cooperatives' },
                    { value: 'BSE', text: 'Bachelor of Science in Economics' },
                    { value: 'BSPSY', text: 'Bachelor of Science in Psychology' },
                ],
                CS: [
                    { value: 'BSFT', text: 'Bachelor of Science Food Technology' },
                    { value: 'BSAPMATH', text: 'Bachelor of Science in Applied Mathematics' },
                    { value: 'BSBIO', text: 'Bachelor of Science in Biology' },
                    { value: 'BSCHEM', text: 'Bachelor of Science in Chemistry' },
                    { value: 'BSMATH', text: 'Bachelor of Science in Mathematics' },
                    { value: 'BSND', text: 'Bachelor of Science in Nutrition and Dietetics' },
                    { value: 'BSPHY', text: 'Bachelor of Science in Physics' },
                    { value: 'BSSTAT', text: 'Bachelor of Science in Statistics' }
                ],
                CTHTM: [
                    { value: 'BSHM', text: 'Bachelor of Science in Hospitality Management' },
                    { value: 'BSTM', text: 'Bachelor of Science in Tourism Management' },
                    { value: 'BSTRM', text: 'Bachelor of Science in Transportation Management' }
                ],
                ITECH: [
                    { value: 'DCvET', text: 'Diploma in Civil Engineering Technology' },
                    { value: 'DCET', text: 'Diploma in Computer Engineering Technology' },
                    { value: 'DEET', text: 'Diploma in Electrical Engineering Technology' },
                    { value: 'DECET', text: 'Diploma in Electronics Engineering Technology' },
                    { value: 'DICT', text: 'Diploma in Information Communication Technology' },
                    { value: 'DMET', text: 'Diploma in Mechanical Engineering Technology' },
                    { value: 'DOMT', text: 'Diploma in Office Management Technology' },
                    { value: 'DRET', text: 'Diploma in Railway Engineering Technology' }
                ]
            };

            $('#college').change(function () {
                var college = $(this).val();
                var $department = $('#department');

                $department.empty();

                if (college && departments[college]) {
                    departments[college].forEach(function (department) {
                        $department.append('<option value="' + department.value + '">' + department.text + '</option>');
                    });
                }
            });
        });
    </script>


</div>
