@{
    ViewData["Title"] = "Accomplishments";
    Layout = "RMCC_Layout";
}
<link href="~/css/ClusterCoordinator-Accomplishmentadd.css" rel="stylesheet" />

<div>
    <!--navbar-->
    <div class="nnvb container mt-3 mb-3">
        <div class="row">
            <div class="itm-active col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorAccomplishments" id="aactive">Accomplishment List</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorProduction" id="inaactive">Add Accomplishment</a>
            </div>
        </div>
    </div>
    <form action="">
        <!--research publication-->
        <div class="container shadow mb-3" id="content">
            <div class="row shadow-sm h3 p-4 mb-1" id="title">
                Research Publication
            </div>
            <div class="row shadow p-4" id="formcont">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="article_title">Article/Title</label>
                        <input class="form-control mb-3" type="text" id="article_title" placeholder="Article/Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="date_of_publication">Date of Publication</label>
                        <input class="form-control mb-3" type="date" id="date_of_publication" placeholder="Date of Publication">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label class="form-label" for="title_of_journal_publication">Title of Journal Publication</label>
                        <input class="form-control mb-3" type="text" id="title_of_journal_publication" placeholder="Title of Journal Publication">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="document_type">Document Type</label>
                        <select name="document_type" id="document_type" class="form-select mb-3">
                            <option value="">Article</option>
                            <option value="">Conference Paper</option>
                            <option value="">Book</option>
                            <option value="">Chapter</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="vol_no_issue_no">Vol. No. & Issue No.</label>
                        <input class="form-control mb-3" type="text" id="vol_no_issue_no" placeholder="Vol. No. & Issue No.">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label class="form-label" for="ISSN_ISBN_ESSN">ISSN/ISBN/ESSN</label>
                        <input class="form-control mb-3" type="text" id="ISSN_ISBN_ESSN" placeholder="ISSN/ISBN/ESSN">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="DOI">DOI</label>
                        <input class="form-control mb-3" type="url" id="DOI" placeholder="DOI">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="index">Indicate Where the Journal is Index</label>
                        <input class="form-control mb-3" type="url" id="index" placeholder="Indicate Where the Journal is Index">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="supporting_documents">Supporting Documents</label>
                        <input class="form-control mb-3" type="url" id="supporting_documents" placeholder="Supporting Documents">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="link">Link</label>
                        <input class="form-control mb-3" type="url" id="link" placeholder="Link">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <label class="form-label" for="Manuscript_in_Journal_Format">Manuscript in Journal Format</label>
                        <input class="form-control mb-3" type="file" id="Manuscript_in_Journal_Format" placeholder="Manuscript in Journal Format" accept=".pdf" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3 mb-3">
            <div class="d-flex justify-content-end">
                <button class="new"><a class="text-decoration-none text-white" asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorAccomplishments">Cancel</a></button>
                <input type="button" value="Save Changes" class="ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            </div>
        </div>
    </form>


    <!--save changes modal-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4" id="bgmodal">
                <div class="modal-body rounded-4 p-4">
                    <h2 class="text-center mb-4" id="modaltitle">Save Changes</h2>
                    <p id="content">Do you want to save the changes you made to "[Research Title]"?</p>
                    <div class="mt-4 d-flex justify-content-center align-items-center">
                        <button type="button" class="me-2" data-bs-dismiss="modal" id="modalbtn">Close</button>
                        <a asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorAccomplishments"><button type="button" class="me-2" data-bs-dismiss="modal" id="modalbtn">Save Changes</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
