@{
    ViewData["Title"] = "Faculty";
    Layout = "RMCC_Layout";
}

<link href="~/css/ClusterCoordinator-Faculty-RankHistory.css" rel="stylesheet" />

<div>
    <!--navbar-->
    <div class="nnvb container mt-3">
        <div class="row">
            <div class="itm-active col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="ClusterCoordinator" asp-action="Faculty" id="aactive">Faculty List</a>
            </div>
            <div class="itm col-lg-2 col-sm-12 me-2 p-1 mb-1 text-center">
                <a class="text-decoration-none" asp-controller="ClusterCoordinator" asp-action="ClusterCoordinatorFacultyAddFaculty" id="inaactive">Add Faculty</a>
            </div>
        </div>
    </div>

    <!--profile-->
    <div class="container shadow p-5 bg-white mt-2 mb-4" id="content">
        <div class="row align-items-center">
            <div class="col-lg-2 col-sm-6">
                <img class="img-fluid rounded-circle" src="default-profile.png" alt="">
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row">
                    <h1 id="name">Faculty Name</h1>
                </div>
                <div class="row">
                    <h3>Webmail</h3>
                </div>
                <div class="row">
                    <p>User ID</p>
                </div>
            </div>
        </div>
    </div>

    <!--search and filter-->
    <div class="container mt-3">
        <div class="row justify-content-between">
            <!--search-->
            <div class="col-lg-3 col-sm-12 mb-2">
                <form action="" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search">
                    <button type="submit" id="action"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #850000;"></i></button>
                </form>
            </div>
            <!--filter-->
            <div class="col-lg-3 col-sm-12 mb-2">
                <form action="" class="d-flex">
                    <select id="filterSelect" class="form-select me-2">
                        <option>Rank (A-Z)</option>
                        <option>Rank (Z-A)</option>
                        <option>College (A-Z)</option>
                        <option>College (Z-A)</option>
                        <option>Duration (Shortest to Longest)</option>
                        <option>Duration (Longest to Shortest)</option>
                        <option>Start (Earliest to Latest)</option>
                        <option>Start (Latest to Earliest)</option>
                        <option>End (Earliest to Latest)</option>
                        <option>End (Latest to Earliest)</option>
                    </select>
                    <button type="submit" id="action"><i class="fa-solid fa-filter fa-2xl" style="color: #850000;"></i></button>
                </form>
            </div>
        </div>
    </div>

    <!--table-->
    <div class="container bg-white shadow mt-1 table-responsive rounded-4 p-0">
        <table class="table table-borderless w-100">
            <thead class="shadow-sm">
                <tr class="align-middle">
                    <th class="p-4 bg-transparent" scope="row">Rank</th>
                    <th class="p-4 bg-transparent" scope="col">College</th>
                    <th class="p-4 bg-transparent" scope="col">Duration</th>
                    <th class="p-4 bg-transparent" scope="col">Start</th>
                    <th class="p-4 bg-transparent" scope="col">End</th>
                    <th class="p-4 bg-transparent" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <td class="col p-4 bg-transparent editable" scope="row">
                        <select class="form-select">
                            <option value="Instructor 1">Instructor 1</option>
                            <option value="Instructor 2">Instructor 2</option>
                            <option value="Instructor 3">Instructor 3</option>
                            <option value="Assistant Professor 1">Assistant Professor 1</option>
                            <option value="Assistant Professor 2">Assistant Professor 2</option>
                            <option value="Assistant Professor 3">Assistant Professor 3</option>
                            <option value="Assistant Professor 4">Assistant Professor 4</option>
                            <option value="Associate Professor 1">Associate Professor 1</option>
                            <option value="Associate Professor 2">Associate Professor 2</option>
                            <option value="Associate Professor 3">Associate Professor 3</option>
                            <option value="Associate Professor 4">Associate Professor 4</option>
                            <option value="Associate Professor 5">Associate Professor 5</option>
                            <option value="Professor 1">Professor 1</option>
                            <option value="Professor 2">Professor 2</option>
                            <option value="Professor 3">Professor 3</option>
                            <option value="Professor 4">Professor 4</option>
                            <option value="Professor 5">Professor 5</option>
                            <option value="Professor 6">Professor 6</option>
                            <option value="College Professor">College Professor</option>
                            <option value="University Professor">University Professor</option>
                        </select>
                    </td>
                    <td class="col p-4 bg-transparent editable" scope="col">
                        <select class="form-select" aria-label="College" name="college" id="college">
                            <option value="CAF">College of Accountancy and Finance (CAF)</option>
                            <option value="CADBE">College of Architecture, Design and the Built Environment (CADBE)</option>
                            <option value="CAL">College of Arts and Letters (CAL)</option>
                            <option value="CBA">College of Business Administration (CBA)</option>
                            <option value="COC">College of Communication (COC)</option>
                            <option value="CCIS">College of Computer and Information Sciences (CCIS)</option>
                            <option value="COED">College of Education (COED)</option>
                            <option value="CE">College of Engineering (CE)</option>
                            <option value="CHK">College of Human Kinetics (CHK)</option>
                            <option value="CL">College of Law (CL)</option>
                            <option value="CPSPA">College of Political Science and Public Administration (CPSPA)</option>
                            <option value="CSSD">College of Social Sciences and Development (CSSD)</option>
                            <option value="CS">College of Science (CS)</option>
                            <option value="CTHTM">College of Tourism, Hospitality and Transportation Management (CTHTM)</option>
                            <option value="ITECH"> Institute of Technology (ITECH)</option>
                        </select>
                    </td>
                    <td class="col p-4 bg-transparent editable" scope="col"><input type="number" class="form-control" value="1"></td>
                    <td class="col p-4 bg-transparent editable" scope="col"><input type="date" class="form-control" value="2020-01-01"></td>
                    <td class="col p-4 bg-transparent editable" scope="col"><input type="date" class="form-control" value="2020-01-01"></td>
                    <td class="p-4 bg-transparent" scope="col">
                        <button id="action" class="me-2" onclick="toggleEdit(this)"><i class="fa-solid fa-pen-to-square fa-2xl" style="color: #850000;"></i></button>
                        <button id="action" class="me-2" onclick="deleteRow(this)">
                            <i class="fa-solid fa-trash fa-2xl" style="color: #850000;"></i>
                        </button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container mt-3 mb-5 d-flex justify-content-end">
        <button class="btn btn-danger" onclick="addNewRow()">Add New</button>
    </div>

    <!--delete modal-->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4" id="bgmodal">
                <div class="modal-body rounded-4 p-4">
                    <h2 class="text-center mb-4" id="modaltitle">Delete Faculty</h2>
                    <p id="content">Are you sure you want to delete the faculty named "[Faculty Name]"?</p>
                    <strong id="content">This action cannot be undone.</strong>
                    <div class="mt-4 d-flex justify-content-center align-items-center">
                        <button type="button" class="me-2" data-bs-dismiss="modal" id="modalbtn">Close</button>
                        <button type="button" class="me-2" data-bs-dismiss="modal" id="modalbtn" onclick="confirmDeleteRow()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--save changes modal-->
    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4" id="bgmodal">
                <div class="modal-body rounded-4 p-4">
                    <h2 class="text-center mb-4" id="modaltitle">Rank History Updated</h2>
                    <p id="content">The rank history for "[Faculty Name]" has been successfully updated.</p>
                    <div class="mt-4 d-flex justify-content-center align-items-center">
                        <button type="button" class="me-2" data-bs-dismiss="modal" id="modalbtn">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let rowToDelete = null;

        function deleteRow(button) {
            // Save the row to be deleted in a variable to reference later
            rowToDelete = button.closest('tr');

            // Show the delete confirmation modal
            const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            deleteModal.show();
        }

        function confirmDeleteRow() {
            // Delete the row if it's set
            if (rowToDelete) {
                rowToDelete.remove();
                rowToDelete = null; // Reset the variable after deletion
            }
        }

        function toggleEdit(button) {
            const row = button.closest('tr');
            const cells = row.querySelectorAll('.editable');

            const isEditing = button.querySelector('i').classList.contains('fa-pen-to-square');

            if (isEditing) {
                cells.forEach((cell, index) => {
                    const cellText = cell.textContent.trim();

                    switch (index) {
                        case 0:
                            cell.innerHTML = `
                                        <select class="form-select">
                                            <option value="Instructor 1">Instructor 1</option>
                                    <option value="Instructor 2">Instructor 2</option>
                                    <option value="Instructor 3">Instructor 3</option>
                                    <option value="Assistant Professor 1">Assistant Professor 1</option>
                                    <option value="Assistant Professor 2">Assistant Professor 2</option>
                                    <option value="Assistant Professor 3">Assistant Professor 3</option>
                                    <option value="Assistant Professor 4">Assistant Professor 4</option>
                                    <option value="Associate Professor 1">Associate Professor 1</option>
                                    <option value="Associate Professor 2">Associate Professor 2</option>
                                    <option value="Associate Professor 3">Associate Professor 3</option>
                                    <option value="Associate Professor 4">Associate Professor 4</option>
                                    <option value="Associate Professor 5">Associate Professor 5</option>
                                    <option value="Professor 1">Professor 1</option>
                                    <option value="Professor 2">Professor 2</option>
                                    <option value="Professor 3">Professor 3</option>
                                    <option value="Professor 4">Professor 4</option>
                                    <option value="Professor 5">Professor 5</option>
                                    <option value="Professor 6">Professor 6</option>
                                    <option value="College Professor">College Professor</option>
                                    <option value="University Professor">University Professor</option>
                                        </select>`;
                            break;
                        case 1:
                            cell.innerHTML = `
                                        <select class="form-select">
                                            <option value="CAF">College of Accountancy and Finance (CAF)</option>
                                            <option value="CADBE">College of Architecture, Design and the Built Environment (CADBE)</option>
                                            <option value="CAL">College of Arts and Letters (CAL)</option>
                                            <option value="CBA">College of Business Administration (CBA)</option>
                                            <option value="COC">College of Communication (COC)</option>
                                            <option value="CCIS">College of Computer and Information Sciences (CCIS)</option>
                                            <option value="COED">College of Education (COED)</option>
                                            <option value="CE">College of Engineering (CE)</option>
                                            <option value="CHK">College of Human Kinetics (CHK)</option>
                                            <option value="CL">College of Law (CL)</option>
                                            <option value="CPSPA">College of Political Science and Public Administration (CPSPA)</option>
                                            <option value="CSSD">College of Social Sciences and Development (CSSD)</option>
                                            <option value="CS">College of Science (CS)</option>
                                            <option value="CTHTM">College of Tourism, Hospitality and Transportation Management (CTHTM)</option>
                                            <option value="ITECH"> Institute of Technology (ITECH)</option>
                                        </select>`;
                            break;
                        case 2:
                            cell.innerHTML = `<input type="number" class="form-control" value="${cellText}">`;
                            break;
                        case 3:
                            cell.innerHTML = `<input type="date" class="form-control" value="${cellText}">`;
                            break;
                        case 4:
                            cell.innerHTML = `<input type="date" class="form-control" value="${cellText}">`;
                            break;
                        default:
                            break;
                    }
                });


                button.innerHTML = '<i class="fa-solid fa-floppy-disk fa-2xl" style="color: #850000;"></i>';
            } else {
                cells.forEach((cell, index) => {
                    const input = cell.querySelector('input, select');
                    const inputValue = input.value;
                    cell.textContent = inputValue;
                });


                button.innerHTML = '<i class="fa-solid fa-pen-to-square fa-2xl" style="color: #850000;"></i>';


                const saveModal = new bootstrap.Modal(document.getElementById('saveModal'));
                saveModal.show();
            }
        }

        function addNewRow() {
            const table = document.querySelector('table tbody');
            const newRow = document.createElement('tr');
            newRow.classList.add('align-middle');

            // Create the new cells
            const rankCell = document.createElement('td');
            rankCell.classList.add('col', 'p-4', 'bg-transparent', 'editable');
            rankCell.innerHTML = `
                        <select class="form-select">
                            <option value="Instructor 1">Instructor 1</option>
                                    <option value="Instructor 2">Instructor 2</option>
                                    <option value="Instructor 3">Instructor 3</option>
                                    <option value="Assistant Professor 1">Assistant Professor 1</option>
                                    <option value="Assistant Professor 2">Assistant Professor 2</option>
                                    <option value="Assistant Professor 3">Assistant Professor 3</option>
                                    <option value="Assistant Professor 4">Assistant Professor 4</option>
                                    <option value="Associate Professor 1">Associate Professor 1</option>
                                    <option value="Associate Professor 2">Associate Professor 2</option>
                                    <option value="Associate Professor 3">Associate Professor 3</option>
                                    <option value="Associate Professor 4">Associate Professor 4</option>
                                    <option value="Associate Professor 5">Associate Professor 5</option>
                                    <option value="Professor 1">Professor 1</option>
                                    <option value="Professor 2">Professor 2</option>
                                    <option value="Professor 3">Professor 3</option>
                                    <option value="Professor 4">Professor 4</option>
                                    <option value="Professor 5">Professor 5</option>
                                    <option value="Professor 6">Professor 6</option>
                                    <option value="College Professor">College Professor</option>
                                    <option value="University Professor">University Professor</option>
                        </select>
                    `;

            const collegeCell = document.createElement('td');
            collegeCell.classList.add('col', 'p-4', 'bg-transparent', 'editable');
            collegeCell.innerHTML = `
                        <select class="form-select" aria-label="College" name="college" id="college">
                                    <option value="CAF">College of Accountancy and Finance (CAF)</option>
                                    <option value="CADBE">College of Architecture, Design and the Built Environment (CADBE)</option>
                                    <option value="CAL">College of Arts and Letters (CAL)</option>
                                    <option value="CBA">College of Business Administration (CBA)</option>
                                    <option value="COC">College of Communication (COC)</option>
                                    <option value="CCIS">College of Computer and Information Sciences (CCIS)</option>
                                    <option value="COED">College of Education (COED)</option>
                                    <option value="CE">College of Engineering (CE)</option>
                                    <option value="CHK">College of Human Kinetics (CHK)</option>
                                    <option value="CL">College of Law (CL)</option>
                                    <option value="CPSPA">College of Political Science and Public Administration (CPSPA)</option>
                                    <option value="CSSD">College of Social Sciences and Development (CSSD)</option>
                                    <option value="CS">College of Science (CS)</option>
                                    <option value="CTHTM">College of Tourism, Hospitality and Transportation Management (CTHTM)</option>
                                    <option value="ITECH"> Institute of Technology (ITECH)</option>
                                </select>
                    `;

            const durationCell = document.createElement('td');
            durationCell.classList.add('col', 'p-4', 'bg-transparent', 'editable');
            durationCell.innerHTML = `<input type="number" class="form-control" value="">`;

            const startCell = document.createElement('td');
            startCell.classList.add('col', 'p-4', 'bg-transparent', 'editable');
            startCell.innerHTML = `<input type="date" class="form-control" value="">`;

            const endCell = document.createElement('td');
            endCell.classList.add('col', 'p-4', 'bg-transparent', 'editable');
            endCell.innerHTML = `<input type="date" class="form-control" value="">`;

            const actionCell = document.createElement('td');
            actionCell.classList.add('p-4', 'bg-transparent');
            actionCell.innerHTML = `
                        <button id="action" class="me-2" onclick="toggleEdit(this)">
                            <i class="fa-solid fa-pen-to-square fa-2xl" style="color: #850000;"></i>
                        </button>
                        <button id="action" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="fa-solid fa-trash fa-2xl" style="color: #850000;"></i>
                        </button>
                    `;

            // Append the cells to the new row
            newRow.appendChild(rankCell);
            newRow.appendChild(collegeCell);
            newRow.appendChild(durationCell);
            newRow.appendChild(startCell);
            newRow.appendChild(endCell);
            newRow.appendChild(actionCell);

            // Append the new row to the table
            table.appendChild(newRow);
        }
    </script>
</div>