@{
    ViewData["Title"] = "Home";
    Layout = "RMCC_Layout";
}

<link href="~/css/ClusterCoordinator-ToReview-Details.css" rel="stylesheet" />

<div>
    <div class="container shadow mb-3" id="content">
        <div class="row shadow-sm h3 p-4 mb-1" id="title">
            Research Details
        </div>
        <div class="row shadow p-4" id="formcont">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Title:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Title</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Classification:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Classification</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Category:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Category</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Discipline:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Discipline</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>University Research Agenda:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>University Research Agenda</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Type of Research:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Type of Research</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Keywords:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Keywords</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Status:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Status</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Actual Date Started:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Actual Date Started</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Target Date of Completion:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Target Date of Completion</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Nature of Involvement:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Nature of Involvement</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>PUP co-researchers:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>PUP co-researchers</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Researcher/s:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Researcher/s</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Type of Funding:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Type of Funding</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Funding Agency:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Funding Agency</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Amount of Funding:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Amount of Funding</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-3 col-sm-12">
                    <strong>Description of Supporting Documents:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Description of Supporting Documents</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Upload Supporting Document:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Upload Supporting Document</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Notes:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Notes</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <strong>Reporting to:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Reporting to</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-3 col-sm-12">
                    <strong>Department to commit the accomplishment:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>Department to commit the accomplishment</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-3 col-sm-12">
                    <strong>College/Campus/Branch/Office to commit the accomplishment:</strong>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <p>College/Campus/Branch/Office to commit the accomplishment</p>
                </div>
            </div>
        </div>
    </div>


</div>
