@{
    ViewData["Title"] = "Rate Us";
    Layout = "RMCC_Layout";
}
<link href="~/css/ClusterCoordinator-RateUs.css" rel="stylesheet" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<div class="row flex-row">
    <div class="con1 col-md-6 col-12 d-flex align-items-center justify-content-center p-3 container" style="width: 35%;">
        <div class="me-5 rate">
            <div class="d-flex justify-content-center fw-bold mb-0" style="font-size: 70px;"><p class="mb-0 p-0">4.5</p></div>
            <div class="ms-2">
                <div class="d-flex justify-content-center mt-0 stars">
                    <i class='bx bxs-star' style='color: red'></i>
                    <i class='bx bxs-star' style='color: red'></i>
                    <i class='bx bxs-star' style='color: red'></i>
                    <i class='bx bxs-star' style='color: red'></i>
                    <i class='bx bxs-star-half' style='color: red'></i> <!-- Half star -->
                </div>
                <p class="d-flex justify-content-center fs-6 mb-0 mt-3">1,500 reviews</p>
            </div>
        </div>

        <div class="ms-3 me-4 num-rate">
            <div class="rating-bar">
                <span>5</span>
                <div class="progress fs-3">
                    <div class="progress-bar bg-danger" style="width: 80%;"></div>
                </div>
            </div>
            <div class="rating-bar">
                <span>4</span>
                <div class="progress">
                    <div class="progress-bar bg-danger" style="width: 60%;"></div>
                </div>
            </div>
            <div class="rating-bar">
                <span>3</span>
                <div class="progress">
                    <div class="progress-bar bg-danger" style="width: 30%;"></div>
                </div>
            </div>
            <div class="rating-bar">
                <span>2</span>
                <div class="progress">
                    <div class="progress-bar bg-danger" style="width: 10%;"></div>
                </div>
            </div>
            <div class="rating-bar">
                <span>1</span>
                <div class="progress">
                    <div class="progress-bar bg-danger" style="width: 5%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="con1 col-md-6 col-12 d-flex flex-column container p-4" style="width: 62%;">
        <div class="d-flex align-items-center me-3 mb-3">
            <div class="mt-2 me-3 d-flex align-items-center" id="star-rating">
                <i class="bx bx-star star-icon" data-value="1"></i>
                <i class="bx bx-star star-icon" data-value="2"></i>
                <i class="bx bx-star star-icon" data-value="3"></i>
                <i class="bx bx-star star-icon" data-value="4"></i>
                <i class="bx bx-star star-icon" data-value="5"></i>
            </div>
            <div class="d-flex ms-auto">
                <button class="btn rate-buttons mt-3 justify-content-start">Submit</button>
            </div>
        </div>
        <textarea class="form-control" rows="3" placeholder="Comment"></textarea>
    </div>
</div>

<div class="con1 d-flex container align-items-center p-3">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle me-3" alt="Profile Picture" style="width: 40px; height: 40px;">
    <div class="d-block">
        <h5 class="mb-0 mt-2 fw-bold">User Name</h5>
        <h6 class="comment-text">comment</h6>
        <textarea class="edit-comment-textarea mt-2" style="display: none; resize: horizontal;"></textarea>
    </div>
    <div class="d-flex ms-auto mt-2">
        <button class="btn rate-buttons justify-content-start edit-button">Edit</button>
        <button class="btn btn-success rate-buttons save-button ms-3" style="display: none;">Save</button>
        <button class="btn rate-buttons justify-content-start delete-button ms-3">Delete</button>
    </div>
</div>

<div class="d-flex justify-content-end align-items-center">
    <div class="d-flex align-items-center mt-5 me-2 fw-bold">
        <p class="mt-3 mb-4">Stars: </p>
    </div>
    <div class="rate-nav rate-nav-pills mb-0 mt-5 p-2">
        <a class="rate-nav-link active me-2" id="five-tab" href="#" data-target="five">5</a>
        <a class="rate-nav-link me-2" id="four-tab" href="#" data-target="four">4</a>
        <a class="rate-nav-link me-2" id="three-tab" href="#" data-target="three">3</a>
        <a class="rate-nav-link me-2" id="two-tab" href="#" data-target="two">2</a>
        <a class="rate-nav-link me-2" id="one-tab" href="#" data-target="one">1</a>
    </div>
</div>

<div class="tab-content mb-3" id="five">
    <div class="con1 d-flex container align-items-center p-2">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle me-3 ms-3" alt="Profile Picture" style="width: 40px; height: 40px;">
        <div class="d-block">
            <h5 class="mb-0 mt-2 fw-bold">User Name</h5>
            <h6>comment</h6>
        </div>
        <div class="d-flex justify-content-start ms-auto mt-0 me-3 stars">
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star ' style='color: #850000'></i>
        </div>
    </div>
</div>

<div class="tab-content mb-3" id="four" style="display: none;">
    <div class="con1 d-flex container align-items-center p-2">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle me-3 ms-3" alt="Profile Picture" style="width: 40px; height: 40px;">
        <div class="d-block">
            <h5 class="mb-0 mt-2 fw-bold">User Name</h5>
            <h6>comment</h6>
        </div>
        <div class="d-flex justify-content-start ms-auto mt-0 me-3 stars">
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
        </div>
    </div>
</div>

<div class="tab-content mb-3" id="three" style="display: none;">
    <div class="con1 d-flex container align-items-center p-2">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle me-3 ms-3" alt="Profile Picture" style="width: 40px; height: 40px;">
        <div class="d-block">
            <h5 class="mb-0 mt-2 fw-bold">User Name</h5>
            <h6>comment</h6>
        </div>
        <div class="d-flex justify-content-start ms-auto mt-0 me-3 stars">
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
        </div>
    </div>
</div>

<div class="tab-content mb-3" id="two" style="display: none;">
    <div class="con1 d-flex container align-items-center p-2">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle me-3 ms-3" alt="Profile Picture" style="width: 40px; height: 40px;">
        <div class="d-block">
            <h5 class="mb-0 mt-2 fw-bold">User Name</h5>
            <h6>comment</h6>
        </div>
        <div class="d-flex justify-content-start ms-auto mt-0 me-3 stars">
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
        </div>
    </div>
</div>

<div class="tab-content mb-3" id="one" style="display: none;">
    <div class="con1 d-flex container align-items-center p-2">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle me-3 ms-3" alt="Profile Picture" style="width: 40px; height: 40px;">
        <div class="d-block">
            <h5 class="mb-0 mt-2 fw-bold">User Name</h5>
            <h6>comment</h6>
        </div>
        <div class="d-flex justify-content-start ms-auto mt-0 me-3 stars">
            <i class='bx bxs-star' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
            <i class='bx bx-star empty' style='color: #850000'></i>
        </div>
    </div>
</div>

<script src="~/js/ClusterCoordinator-RateUs.js"></script>