@{
    ViewData["Title"] = "Centers";
    Layout = "RMCC_Layout";
}
<link href="~/css/ClusterCoordinator-Centers.css" rel="stylesheet" />
<div>
    <div class="container shadow mt-4" id="main">
        <div class="p-4 display-6 mb-1 row" id="title">
            RMO Centers
        </div>
        <div class="p-4 row text-center" id="centers">
            <a class="rounded-5 p-4 m-3 col-md text-white text-decoration-none fs-5 fw-bold p-3" id="cen" href="#">
                Research Evaluation and Monitoring Center
            </a>
            <a class="col-md rounded-5 p-4 m-3 text-white text-decoration-none fs-5 fw-bold p-3" id="cen" href="#">
                Research Support Center
            </a>
            <a class="col-md rounded-5 p-4 m-3 text-white text-decoration-none fs-5 fw-bold p-3" id="cen" href="#">
                Center for Research Ethics
            </a>
            <a class="col-md rounded-5 p-4 m-3 text-white text-decoration-none fs-5 fw-bold p-3" id="cen" href="#">
                Center for Research Dissemination and Linkages
            </a>
        </div>
    </div>

</div>