@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutResearcherHome";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="~/css/ResearcherHome.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    <div class="d-inline-flex ms-xxl-5 align-items-center custom-margin" style="min-height:80vh">
        <div class="container-md mt-xxl-5 ms-xxl-4 text-center">
            <div class="bg-image centered-content text-white">
                <h1 class="custom-heading">Center for Research Dissemination</h1>
                <h1 class="custom-heading2">and Linkages</h1>
                <div class="container d-flex justify-content-center mx-xl-auto">
                    <div class="text-center">
                        <p class="first-line">The CRDL facilitates the forging of linkages to various institutions that will result</p>
                        <p class="second-line">in external funding of research projects and programs and organize/co-organize</p>
                        <p class="third-line">research-related conferences, seminars, trainings, fora, etc. as a research</p>
                        <p class="fourth-line">dissemination platform</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>