@{
    ViewData["Title"] = "About";
    Layout = "Student_Layout";
}
<link href="~/css/ClusterCoordinator-About.css" rel="stylesheet" />

<!-- About Navigation -->
<div class="abt-nav abt-nav-pills mb-4 mt-5">
    <a class="abt-nav-link me-2 p-2 active" id="rmo-tab" href="#">Research Management Office</a>
    <a class="abt-nav-link me-2 p-2" id="objectives-tab" href="#">Objectives</a>
    <a class="abt-nav-link me-2 p-2" id="logo-tab" href="#">Logo</a>
    <a class="abt-nav-link me-2 p-2" id="services-tab" href="#">Services</a>
    <a class="abt-nav-link me-2 p-2" id="officials-tab" href="#">Officials and Staff</a>
</div>

<div class="mt-5" id="rmo">
    <h2 class="text-#850000 mb-3 text-center">Research Management Office</h2>
    <div class="mb-3">
        <p class="justp">The <strong>Research Management Office (RMO)</strong> recommends plans, programs, projects, and policies relative to research planning and programs/project development to the Research, Extension, and Development. The objectives of the office are to dramatically improve the research capabilities and skills of the University's faculty and employees.</p>
    </div>

    <div class="justcontainer d-flex justify-content-center container">
        <div class="me-5">
            <h2>Centers</h2>
        </div>
        <div class="ms-5">
            <div class="mt-2">
                <h4 class="mb-1 center">REMC</h4>
                <h6 class="mb-3">Research Evaluation and Monitoring Center</h6>
                <p class="justp">The REMC monitors the implementation of the approved internally and externally funded research projects. It also assists in the preparation of program designed towards the development of national and international relations.</p>
            </div>
            <div class="mt-4">
                <h4 class="mb-1 center">RSC</h4>
                <h6 class="mb-3">Research Support Center</h6>
                <p class="justp">The RSC facilitates the requests for research assistance, grants and/or incentives.</p>
            </div>
            <div class="mt-4">
                <h4 class="mb-1 center">CRE</h4>
                <h6 class="mb-3">Center for Research Ethics</h6>
                <p class="justp">The CRE facilitates the requests for ethics clearance. The centers ensure to protect potential participants in the research, but it must also consider potential risks and benefits for the community in which the research will be carried out. Its goal is to promote high ethical standards in research.</p>
            </div>
            <div class="mt-4">
                <h4 class="mb-1 center">CRDL</h4>
                <h6 class="mb-3">Center for Research Research Dissemination and Linkages</h6>
                <p class="justp">The CRDL facilitates the forging of linkages to various institutions that will result in external funding of research projects and programs and organize/co-organize research-related conferences, seminars, trainings, fora, etc. as a research dissemination platform.</p>
            </div>
        </div>
    </div>

    <div class="justcontainer container mb-3">
        <div class="me-5">
            <h2>Downloads</h2>
        </div>
        <div class="downloads">
            <div class="d-block">
                <div class="d-block ms-5 me-5">
                    <h6 class="mb-3"><a class="file" href="https://pupedu-my.sharepoint.com/personal/ovpred_pup_edu_ph/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fovpred%5Fpup%5Fedu%5Fph%2FDocuments%2F2024%20Website%20Content%20for%20Updating%2F2024%20Research%20and%20Development%20Policies&ga=1" target="_blank">2024 Research and Development Policies</a></h6>
                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 7 s. 2024</strong></p>
                    <li class="dl mb-3 ms-3">Revised Policy on Merit Promotion through Research Production, Publication, and Citation</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 14 s. 2024</strong></p>
                    <li class="dl mb-3 ms-3">Revised Guidelines on ReAP3 (Research Activities: Production, Presentation, and Publication/Patent for Regular Full-time Faculty Members)</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 15 s. 2024</strong></p>
                    <li class="dl mb-3 ms-3">Revised Policy on Merit Promotion through Research Production, Publication, and Citation</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 22 s. 2024</strong></p>
                    <li class="dl mb-3 ms-3">Revised Policy on Implementing Guidelines on University Publication Assistance (UPA) and Publication and Citation Incentives</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 15 s. 2024</strong></p>
                    <li class="dl mb-3 ms-3">Policy on Research Load</li>
                </div>
                <div class="d-block ms-5 mt-4">
                    <h6 class="mb-3"><a class="file" href="https://pupedu-my.sharepoint.com/personal/ovpred_pup_edu_ph/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fovpred%5Fpup%5Fedu%5Fph%2FDocuments%2F2024%20Website%20Content%20for%20Updating%2F2023%20Research%20and%20Development%20Policies&ga=1" target="_blank">2023 Research and Development Policies</a></h6>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 18 s. 2023</strong></p>
                    <li class="dl mb-3 ms-3">Policy on Funding Support for Hosting International Research Activities</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 19 s. 2023</strong></p>
                    <li class="dl mb-3 ms-3">Policy on Funding Support to Students for Research Production, Paper Presentation, Publication Citation and Patents</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 21 s. 2023</strong></p>
                    <li class="dl mb-3 ms-3">Revised University Externally Funded Research Policy</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 22 s. 2023</strong></p>
                    <li class="dl mb-3 ms-3">Revised Policy on Implementing Guidelines on University Publication Assistance (UPA) and Publication and Citation Incentives</li>

                    <p class="justp mb-1 ms-2"><strong>Executive Order No. 22 s. 2023</strong></p>
                    <li class="dl mb-3 ms-3">Standards Guidelines on Research Mentoring, Collaboration, and Authorship</li>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ms-5 me-5" id="objectives" style="display: none;">
    <h2>Objectives</h2>
    <div class="justcontainer container-ob">
        <div class="mb-0">
            <h4 class="header">Objectives</h4>
        </div>
        <div class="d-block p-3 me-3 mt-0">
            <ol>
                <li class="obj p-3">To properly implement the University Research Agenda;</li>
                <li class="obj p-3">To dramatically improve the research capabilities and skills of the University's faculty and employees;</li>
                <li class="obj p-3">To exponentially increase the CHED-recognized / ISI / Scopus-indexed research presentation and publications of all faculty and employees in all campuses and branches of the University;</li>
                <li class="obj p-3">To incrementally increase the research incentives, privileges, and awards for all faculty and employees who do quality scientific research internally and externally; and</li>
                <li class="obj p-3">To remarkably widen the University's networks and linkages for internationalization.</li>
            </ol>
        </div>

    </div>
</div>

<div class="mb-3 ms-5 me-5" id="logo" style="display: none;">
    <h2>Logo</h2>
    <div class="justcontainer container-ob">
        <div class="mb-0">
            <h4 class="header">RMO Logo</h4>
        </div>
        <div class="d-flex justify-content-center p-4">
            <img src="https://www.pup.edu.ph/resources/images/logos/rmologo.png" alt="rmo logo" width="350" height="300">
        </div>

        <div class="d-flex align-items-center justify-content-center my-1" style="margin-left: 20px; margin-right: 20px;">
            <div class="flex-grow-1 border-bottom"></div>
            <span class="mx-4 fs-4 fw-bold">Description</span>
            <div class="flex-grow-1 border-bottom mb-1"></div>
        </div>

        <div class="mt-0 p-3 me-5 ms-5">
            <p class="justp">The Research Management Office (RMO), a leading arm for research production, administration, dissemination, publication, and utilization under the Office of the Vice President for Research, Extension, and Development (OVPRED), adopts this official logo to represent its core functions in accordance to the University's vision, mission, and objectives.</p>
        </div>

        <div class="d-flex align-items-center justify-content-center my-1" style="margin-left: 20px; margin-right: 20px;">
            <div class="flex-grow-1 border-bottom"></div>
            <span class="mx-4 fs-4 fw-bold">Symbolism and Meaning</span>
            <div class="flex-grow-1 border-bottom"></div>
        </div>

        <div class="mt-0 p-3 me-5 ms-5">
            <p class="justp">To symbolize the vision, mission, and core functions of the Research Management Office (RMO), the logo contains the following elements and their corresponding meaning:</p>
            <ol>
                <li class="obj p-3">Book:  Scientific knowledge generation and education;</li>
                <li class="obj p-3">Tree: University research culture enhancement;</li>
                <li class="obj p-3">Lightbulb: Creative thinking and innovation;</li>
                <li class="obj p-3">Gear: Engine for research progress and internationalization;</li>
                <li class="obj p-3">Golden Leaves: Research rewards and awards; and</li>
                <li class="obj p-3">People: Internal and external linkages with stakeholders.</li>
            </ol>
        </div>
    </div>
</div>

<div class="mb-3 ms-5 me-5" id="services" style="display: none;">
    <h2>Services and Regular Capacity Building Programs / Projects</h2>

    <div class="justcontainer container-ob">
        <div class="mb-0">
            <h4 class="header">Services</h4>
        </div>

        <div class="mt-0 p-3 me-4 ms-4">
            <ol>
                <li class="obj p-2">Externally Funded Research Monitoring</li>
                <li class="obj p-2">Internally Funded Research Monitoring</li>
                <li class="obj p-2">International Paper Presentation Financial Assistance</li>
                <li class="obj p-2">National Paper Presentation Financial Assistance</li>
                <li class="obj p-2">University Publication Assistance</li>
                <li class="obj p-2">Publication Incentive</li>
                <li class="obj p-2">Citation Incentive</li>
                <li class="obj p-2">Dissertation Financial Assistance</li>
                <li class="obj p-2">Thesis and Dissertation Financial Grant</li>
                <li class="obj p-2">Merit Promotion based on Publication and Citation</li>
                <li class="obj p-2">Ethics Clearance Certification</li>
                <li class="obj p-2">Research Linkages</li>

            </ol>
        </div>
    </div>

    <div class="justcontainer container-ob">
        <div class="mb-0">
            <h4 class="header">RMO Regular Capacity Building Programs / Projects</h4>
        </div>

        <div class="mt-0 p-3 me-4 ms-4">
            <ol>
                <li class="obj p-2">International Research Conference On Higher Education</li>
                <li class="obj p-2">Project Nips (National And International Presentation For Students)</li>
                <li class="obj p-2">Project Recite (Research Citations through Institutional Trainings and Engagement)</li>
                <li class="obj p-2">Pathways To International Refereed Journal Publication</li>
                <ol type="a">
                    <li class="obj p-2">Science, Technology, Engineering, and Mathematics</li>
                    <li class="obj p-2">Computer Science, Information System, and Technology</li>
                    <li class="obj p-2">Education</li>
                    <li class="obj p-2">Business</li>
                    <li class="obj p-2">Humanities, Social Sciences, and Communication</li>
                </ol>
                <li class="obj p-2">Project Brief (Building Research for Internal and External Funding) Training-Workshop on Writing Research Proposals for Grant-in-Aid)</li>
                <li class="obj p-2">Gawad Tuklas: Outstanding Researcher Award</li>
                <li class="obj p-2">Gawad Lathala: International Publication Excellence Award</li>
            </ol>
        </div>
    </div>
</div>

<div class="ms-5 me-5" id="officials-and-staff" style="display: none;">
    <h2>Officials and Staff</h2>

    <div class="justcontainer container-ob">
        <div class="mb-0">
            <h4 class="header">Officials and Staff</h4>
        </div>

        <ul class="no-bullet p-3">
            <li class="obj p-3">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="https://www.pup.edu.ph/resources/images/people/employees/urrutiajd.jpg" alt="rmo director" width="110" height="150">
                    <div class="d-block official">
                        <p class="justp mb-0 fs-4"><strong>Jackie D. Urrutia, PhD</strong></p>
                        <p class="justp">Director, Research Management Office</p>
                    </div>
                </div>
            </li>
            <li class="obj p-3">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="" alt="remc chief" width="110" height="150">
                    <div class="d-block official">
                        <p class="justp mb-0 fs-4"><strong>Paul Ryan A. Longhas, MS Math</strong></p>
                        <p class="justp">Chief, Research Evaluation and Monitoring Center</p>
                    </div>
                </div>
            </li>
            <li class="obj p-3">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="https://www.pup.edu.ph/resources/images/people/employees/samalahdr.jpg" alt="crdl chief" width="110" height="150">
                    <div class="d-block official">
                        <p class="justp mb-0 fs-4"><strong>Hazel D.R. Samala, MASED</strong></p>
                        <p class="justp">Chief, Center for Research Dissemination and Linkages</p>
                    </div>
                </div>
            </li>
            <li class="obj p-3">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="https://www.pup.edu.ph/resources/images/people/employees/llamesjju.jpg" alt="cre chief" width="110" height="150">
                    <div class="d-block official">
                        <p class="justp mb-0 fs-4"><strong>Jackson Jake U. Llames, MAF</strong></p>
                        <p class="justp">Chief, Center for Research Ethics</p>
                    </div>
                </div>
            </li>
            <li class="obj p-3">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="https://www.pup.edu.ph/resources/images/people/employees/sagunrd.jpg" alt="rsc chief" width="110" height="150">
                    <div class="d-block official">
                        <p class="justp mb-0 fs-4"><strong>Randy D. Sagun, MAF</strong></p>
                        <p class="justp">Chief, Research Support Center</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="justcontainer container-ob">
        <div class="mb-0">
            <h4 class="header">Research Management Cluster Coordinators</h4>
        </div>

        <ul class="no-bullet p-3">
            <li class="obj p-2">
                <p class="justp mb-0 fs-6"><strong>Anthony C. Yan, MUDD</strong></p>
                <p class="justp">College of Architecture, Design, and the Built Environment</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Criselda M. Bragas, MBA</strong></p>
                <p class="justp">College of Business Administration</p>
            </li>
            <li class="obj p-2">
                <p class="mb-0 mt-3 fs-6"><strong>Jackson Jake U. Llames, MAF</strong></p>
                <p>College of Arts and Letters</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Jeffrey R. Ancheta, MA</strong></p>
                <p class="justp">College of Communication</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Ria A. Sagum, MCS</strong></p>
                <p class="justp">College of Computer and Information Sciences</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Jay R A. Manatnam, MSc, MOM</strong></p>
                <p class="justp">College of Education</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Ramces M. Dill, MA</strong></p>
                <p class="justp">College of Political Science and Public Administration</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Jefferson F. Serrano, MPES</strong></p>
                <p class="justp">College of Human Kinetics</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Renato E. Apa-Ap, MAEd</strong></p>
                <p class="justp">College of Science</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Aileen L. Camba, DBA</strong></p>
                <p class="justp">College of Social Sciences and Development</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Rock Bryan B. Matias, DBA</strong></p>
                <p class="justp">College of Tourism, Hospitality, and Transportation Management</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Jose Marie B. Dipay, MSIT</strong></p>
                <p class="justp">Institute of Technology</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Sheryl R. Morales, MEM</strong></p>
                <p class="justp">Quezon City Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Ian C. Sagundinan, BSMath</strong></p>
                <p class="justp">San Juan City Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Ariel P. Tuazon, PhD</strong></p>
                <p class="justp">Sto. Tomas, Batangas Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Leilidyn Y. Zurbano, PhD</strong></p>
                <p class="justp">Lopez, Quezon Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Honesto O. Camino, MAPsych, BSN</strong></p>
                <p class="justp">Unisan, Quezon Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Ayreenlee E. Resus, MEM</strong></p>
                <p class="justp">Maragondon, Cavite Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Aprilyn E. Calvario, MAED</strong></p>
                <p class="justp">Sta. Rosa, Laguna Campus</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Ernie C. Avila, PhD</strong></p>
                <p class="justp">Ragay, Camarines Sur Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Dina Grace Magnaye, MAED</strong></p>
                <p class="justp">Bansud, Oriental Mindoro Branch</p>
            </li>
            <li class="obj p-2">
                <p class="justp mb-0 mt-3 fs-6"><strong>Evelyn B. Modesto, MAT</strong></p>
                <p class="justp">Sablayan, Occidental Mindoro Branch</p>
            </li>
        </ul>
    </div>

    <div class="justcontainer container-ob mb-3">
        <div class="mb-0">
            <h4 class="header">Administrative Staff</h4>
        </div>

        <ul class="no-bullet p-3">
            <li class="obj p-3">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="https://www.pup.edu.ph/resources/images/people/employees/faeden.jpg" alt="admin staff" width="110" height="150">
                    <div class="d-block official">
                        <p class="justp mb-0 fs-6"><strong>Elena N. Fa-ed</strong></p>
                        <p class="justp">Administrative Aide VI</p>
                    </div>
                </div>
            </li>
            <li class="obj p-3">
                <div class="d-flex align-items-center">
                    <img class="me-3" src="https://www.pup.edu.ph/resources/images/people/employees/masmb.jpg" alt="admin staff" width="110" height="150">
                    <div class="d-block official">
                        <p class="justp mb-0 fs-6"><strong>Marvin B. Mas</strong></p>
                        <p class="justp">Administrative Aide III</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="~/js/About.js"></script>

